extends ../../includes/layoutMusic
block musicContent
    ol.breadcrumb
        li
            a(href="/") Home
        li
            a(href="/music") Music Info
        li.active  Book Your Band
    p This is page for information about booking your band. -- COULD NOT FIND RELATABLE PAGE




    