extends ../../includes/layoutMusic
block musicContent
    //- ol.breadcrumb
    //-     li
    //-         a(href="/") Home
    //-     li
    //-         a(href="/music") Music Info
    //-     li.active  Book Your Band
    p Baily's has hosted live music every Friday and Saturday for over ten years. 
        | Primarily classic rock cover tunes provide the fun music everyone knows but 
        | don't be surprised if you catch other styles of music here including blues, 
        | country, reggae, jazz, bluegrass and more. In the cooler months, November 
        | through April, solo acts are on our indoor stage, and the remaining six 
        | months, May through October, 3-6 person bands play on the courtyard stage. 
        | Please contact gabe@baily.com if your band is interested in playing our venue.




    