extends ../../includes/layoutMusic
block musicContent
    //- ol.breadcrumb
    //-     li
    //-         a(href="/") Home
    //-     li.active  Live Music Info
    .visible-xs.hidden-sm
        .btn-toolbar(style="margin-bottom: 15px")
            a.btn.btn-info(href="/music/schedule" ) Music Schedule
            a.btn.btn-info(href="/music/booking" ) Book Your Band

            
    //- .col-sm-12
    //-     h3 Upcoming Events:
    //-     a(href="/assets/clubFlyers/4x6_4th.jpg")
    //-         img.imgBlurHover.radiusBorder5px.img-responsive(src="/assets/clubFlyers/4x6_4th.jpg")
    //- .col-sm-6
    //-     h3 July
    //-     a(href="/assets/clubFlyers/4x6_July_Home.jpg")
    //-         img.imgBlurHover.radiusBorder5px.img-responsive(src="/assets/clubFlyers/4x6_July_Home.jpg")
    //- .col-sm-6
    //-     h3 Live!
    //-     a(href="/assets/clubFlyers/4x6_July_Band_Schedule.jpg")
    //-         img.imgBlurHover.radiusBorder5px.img-responsive(src="/assets/clubFlyers/4x6_July_Band_Schedule.jpg")
    //- .col-sm-12
    //-     h3 Latin Nights!
    //-     a(href="/assets/clubFlyers/4x6_New_Latin.jpg")
    //-         img.imgBlurHover.radiusBorder5px.img-responsive(src="/assets/clubFlyers/4x6_New_Latin.jpg")
    //- .col-sm-6
    //-     h3 Upcoming Events:
    //-     a(href="/assets/clubFlyers/4x6_July_TOP40_DJ.jpg")
    //-         img.imgBlurHover.radiusBorder5px.img-responsive(src="/assets/clubFlyers/4x6_July_TOP40_DJ.jpg")


    .col-sm-12
        #music


block scripts
    script(type="text/javascript", src="/js/index.js")
    script(type="text/javascript", src= "/js/scrollTo.js")

    //code for image scroller.
    script(type="text/javascript", src="/vendor/jsonHTML/jsonHTML.min.js")
    script(type="text/javascript", src="/js/imageScroll.js")

    script start("music", ["music", "nightclub"])