extends ../../includes/layoutMusic
block musicContent
    ol.breadcrumb
        li
            a(href="/") Home
        li.active  Live Music Info
    .visible-xs.hidden-sm
        .btn-toolbar(style="margin-bottom: 15px")
            a.btn.btn-info(href="/music/schedule" ) Music Schedule
            a.btn.btn-info(href="/music/booking" ) Book Your Band

            
    .col-sm-6
        h3 June
        a(href="/assets/clubFlyers/4x6_June_Home.jpeg")
            img.imgBlurHover.radiusBorder5px.img-responsive(src="/assets/clubFlyers/4x6_June_Home.jpeg")
    .col-sm-6
        h3 Live!
        a(href="/assets/clubFlyers/4x6_June_Band_Schedule.jpeg")
            img.imgBlurHover.radiusBorder5px.img-responsive(src="/assets/clubFlyers/4x6_June_Band_Schedule.jpeg")
    .col-sm-12
        h3 Latin Nights!
        a(href="/assets/clubFlyers/4x6_New_Latin.jpg")
            img.imgBlurHover.radiusBorder5px.img-responsive(src="/assets/clubFlyers/4x6_New_Latin.jpg")
    .col-sm-6
        h3 Upcoming Events:
        a(href="/assets/clubFlyers/4x6_June_TOP40_DJ.jpeg")
            img.imgBlurHover.radiusBorder5px.img-responsive(src="/assets/clubFlyers/4x6_June_TOP40_DJ.jpeg")
    .col-sm-6
        h3 Upcoming Events:
        a(href="/assets/clubFlyers/4x6_June_Latin.jpeg")
            img.imgBlurHover.radiusBorder5px.img-responsive(src="/assets/clubFlyers/4x6_June_Latin.jpeg")