extends ../../includes/layoutMusic
block musicContent
    ol.breadcrumb
        li
            a(href="/") Home
        li.active  Live Music Info
    .visible-xs.hidden-sm
        .btn-toolbar(style="margin-bottom: 15px")
            a.btn.btn-info(href="/music/schedule" ) Music Schedule
            a.btn.btn-info(href="/music/booking" ) Book Your Band

            
    .col-sm-6
        h3 December
        a(href="/assets/clubFlyers/4x6_Nov_Home.jpg")
            img.imgBlurHover.radiusBorder5px.img-responsive(src="/assets/clubFlyers/4x6_Nov_Home.jpg")
    .col-sm-6
        h3 Live!
        a(href="/assets/clubFlyers/4x6_Dec_Band_Schedule.jpg")
            img.imgBlurHover.radiusBorder5px.img-responsive(src="/assets/clubFlyers/4x6_Dec_Band_Schedule.jpg")
    .col-sm-6
        h3 Latin Nights!
        a(href="/assets/clubFlyers/4x6_New_Latin.jpg")
            img.imgBlurHover.radiusBorder5px.img-responsive(src="/assets/clubFlyers/4x6_New_Latin.jpg")
    .col-sm-6
        h3 Upcoming Events:
        a(href="/assets/clubFlyers/4x6_Dec_Latin_DJ_.jpg")
            img.imgBlurHover.radiusBorder5px.img-responsive(src="/assets/clubFlyers/4x6_Dec_Latin_DJ_.jpg")
    .col-sm-6
        h3 Upcoming Events:
        a(href="/assets/clubFlyers/4x6_Dec_TOP40_DJ_.jpg")
            img.imgBlurHover.radiusBorder5px.img-responsive(src="/assets/clubFlyers/4x6_Dec_TOP40_DJ_.jpg")
    .col-sm-12
        h3 Party!
        a(href="/assets/clubFlyers/4x6_Naughty_2018.jpg")
            img.imgBlurHover.radiusBorder5px.img-responsive(src="/assets/clubFlyers/4x6_Naughty_2018.jpg")
    .col-sm-12
        h3 Celebrate the new year!
        a(href="/assets/clubFlyers/4x6_NYE_Angel.jpg")
            img.imgBlurHover.radiusBorder5px.img-responsive(src="/assets/clubFlyers/4x6_NYE_Angel.jpg")
    .col-sm-12
        h3 Celebrate the new year!
        a(href="/assets/clubFlyers/4x6_NYE_Ruffnek.jpg")
            img.imgBlurHover.radiusBorder5px.img-responsive(src="/assets/clubFlyers/4x6_NYE_Ruffnek.jpg")