extends ../../includes/layoutMusic
block musicContent
    h4 This is the music home page.
    .list-group
        each val in viewBag.schedule.Schedule.ScheduleItems
            .list-group-item
                h4.list-group-item-heading= val.BandName
                p= val.Date
                p.list-group-item-text= val.RoomName



    