* {
  margin: 0;
}
html {
  height: 100%;
}
.fill-screen {
  background-size: cover;
  background-position: center;
}
.modal-content {
  background-color: #e5e5e5;
}
.modal-content p,
.modal-content h2 {
  color: #000;
}
.contentModuleList {
  margin-top: 5px;
  margin-bottom: 5px;
}
.well {
  background-color: #333;
  border-color: #555;
}
body {
  background-color: #292929;
  color: #adadad;
  height: 100%;
}
hr {
  border-color: #7a7a7a;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -240px;
}
.push {
  height: 240px;
}
.contentModule {
  background-color: #212121;
  padding: 10px;
}
.footer {
  background-color: #212121;
  border-top: 2px solid #ccc;
  height: 480px;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .footer {
    height: 240px;
  }
}
td.Description {
  padding-right: 100px;
}
.list-group-item {
  background-color: #212121;
  border-color: #adadad;
}
.bailys-10pxPadBott li {
  padding-bottom: 10px;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #7a7a7a;
  font-family: adobe-caslon-pro;
  font-variant: small-caps;
  margin-bottom: 2px;
  margin-top: 12px;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #555;
}
.well {
  border-radius: 0;
}
.btn {
  border-radius: 0;
}
.modal-content {
  border-radius: 0;
}
.form-control {
  border-radius: 0;
}
.thumbnail {
  background-color: transparent;
  border: none;
  max-width: 300px;
}
.inParagraph {
  border: solid 1px #7a7a7a;
  margin: 10px;
}
.thumbnail img {
  border: solid 1px #7a7a7a;
  padding: 0px;
}
.row1 {
  background-color: #adadad;
}
.row1 p {
  color: #7a7a7a;
}
.row2 {
  background-color: #7a7a7a;
}
.caption p {
  color: #adadad;
}
.caption a h3 {
  color: #adadad;
}
.captionJump {
  font-family: adobe-caslon-pro;
  font-variant: small-caps;
}
#logo {
  font-family: adobe-caslon-pro;
  font-size: 2em;
}
#myNav {
  border-radius: 0;
  margin-bottom: 0;
}
#myJumbo {
  border-radius: 0;
  margin-top: -20px;
  padding: 0;
}
.navbar-brand {
  padding: 20px 15px;
}
.list-group-item {
  background-color: #555;
}
.text-xs-left {
  text-align: left;
}
.text-xs-right {
  text-align: right;
}
.text-xs-center {
  text-align: center;
}
.text-xs-justify {
  text-align: justify;
}
@media (min-width: 768px) {
  .text-sm-left {
    text-align: left;
  }
  .text-sm-right {
    text-align: right;
  }
  .text-sm-center {
    text-align: center;
  }
  .text-sm-justify {
    text-align: justify;
  }
}
@media (min-width: 992px) {
  .text-md-left {
    text-align: left;
  }
  .text-md-right {
    text-align: right;
  }
  .text-md-center {
    text-align: center;
  }
  .text-md-justify {
    text-align: justify;
  }
}
@media (min-width: 1200px) {
  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }
  .text-lg-center {
    text-align: center;
  }
  .text-lg-justify {
    text-align: justify;
  }
}
h4.MenuItem {
  padding-bottom: 0px;
  margin-bottom: 0px;
  line-height: 1;
}
table.MenuItem2 {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  width: 100%;
}
td.MenuName2 {
  text-align: left;
  font-weight: bold;
}
td.MenuItemPrice2 {
  text-align: right;
  white-space: nowrap;
  padding-left: 5px;
  vertical-align: top;
  font-weight: bold;
}
td.MenuItemDescription2 {
  padding-right: 30px;
  padding-bottom: 5px;
}
table.MenuItem {
  margin: 0;
  padding: 0;
  width: 100%;
}
td.MenuName {
  width: 1px;
}
td.MenuName span {
  white-space: nowrap;
  font-weight: bold;
}
div.Leader {
  background: repeat-x url("/assets/leader.png");
}
td.MenuItemPrice {
  text-align: right;
  width: 1px;
  padding-left: 5px;
}
td.MenuItemPrice span,
td.MenuName {
  padding-right: 5px;
}
td.MenuItemPrice span {
  white-space: nowrap;
  font-weight: bold;
}
td.Description {
  padding-bottom: 5px;
  padding-right: 10px;
}
