
gray13 = #212121
gray16 = #292929
gray20 = #333333
gray33 = #555555
gray48 = #7a7a7a
gray68 = #adadad
gray80 = #cccccc
gray85 = #d9d9d9
gray90 = #e5e5e5

headingFont = adobe-caslon-pro
screen-sm-min = 768px
screen-md-min = 992px
screen-lg-min = 1200px

*
  margin 0

html
  height 100%
  
.modal-content
  background-color gray90
  
.modal-content p, .modal-content h2
  color black




.well
  background-color gray20
  border-color gray33

body
    background-color gray16
    color gray68
    //margin-bottom 230px
    height 100%

hr
    border-color gray48



.wrapper
  min-height 100%
  height auto !important
  height 100%
  margin 0 auto -240px
  




.push
  height 240px


    
.footer
    background-color gray13
    border-top 2px solid gray80
    height 480px
    
    
@media (min-width: screen-sm-min)
  .footer
    height 240px

.list-group-item
	background-color gray13
	border-color gray68

a:hover
    text-decoration none

h1, h2, h3, h4, h5, h6
    color gray48
    font-family headingFont
    font-variant small-caps
    margin-bottom 2px
    margin-top 12px

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small
    color gray33

.thumbnail
    background-color transparent
    border none
    max-width 300px

.inParagraph
    border solid 1px gray48
    margin 10px

.thumbnail img
    border solid 1px gray48
    padding 0px

.row1
    background-color gray68

.row1 p
    color gray48

.row2
    background-color gray48

.caption p
    color gray68

.caption a h3
    color gray68

.captionJump
    font-family adobe-caslon-pro
    font-variant small-caps

#logo
    font-family: adobe-caslon-pro
    font-size: 2em

#myNav
    border-radius 0
    margin-bottom 0

#myJumbo
    border-radius 0
    margin-top -20px
    padding 0

.navbar-brand
    padding 20px 15px

.list-group-item
	background-color gray33

.text-xs-left
    text-align left
.text-xs-right
    text-align right
.text-xs-center
    text-align center
.text-xs-justify
    text-align justify



@media (min-width: screen-sm-min)
    .text-sm-left
      text-align left
    .text-sm-right
      text-align right
    .text-sm-center
      text-align center
    .text-sm-justify
      text-align justify
   
    

@media (min-width: screen-md-min)
    .text-md-left
      text-align left
    .text-md-right
      text-align right
    .text-md-center
      text-align center
    .text-md-justify
      text-align justify

@media (min-width: screen-lg-min)
    .text-lg-left
      text-align left
    .text-lg-right
      text-align right
    .text-lg-center
      text-align center
    .text-lg-justify
      text-align justify

h4.MenuItem
    padding-bottom 0px
    margin-bottom 0px
    line-height 1





