* {
  margin: 0;
}
html {
  height: 100%;
}
.modal-content {
  background-color: #e5e5e5;
}
.modal-content p,
.modal-content h2 {
  color: #000;
}
.well {
  background-color: #333;
  border-color: #555;
}
body {
  background-color: #292929;
  color: #adadad;
  height: 100%;
}
hr {
  border-color: #7a7a7a;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -210px;
}
/*@media (min-width: screen-sm-min)
    .footer
        height 210px
        background-color level9Gray
        border-top 2px solid lightGray
        bottom 0
        width 100%
        height 1000px
        //left 0
        position absolute
        //right 0*/
.push {
  height: 210px;
}
.footer {
  background-color: #212121;
  border-top: 2px solid #ccc;
  height: 420px;
}
@media (min-width: 768px) {
  .footer {
    height: 210px;
  }
}
.list-group-item {
  background-color: #212121;
  border-color: #adadad;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #7a7a7a;
  font-family: adobe-caslon-pro;
  font-variant: small-caps;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #555;
}
.thumbnail {
  background-color: transparent;
  border: none;
  max-width: 300px;
}
.inParagraph {
  border: solid 1px #7a7a7a;
  margin: 10px;
}
.thumbnail img {
  border: solid 1px #7a7a7a;
  padding: 0px;
}
.row1 {
  background-color: #adadad;
}
.row1 p {
  color: #7a7a7a;
}
.row2 {
  background-color: #7a7a7a;
}
.caption p {
  color: #adadad;
}
.caption a h3 {
  color: #adadad;
}
.captionJump {
  font-family: adobe-caslon-pro;
  font-variant: small-caps;
}
#logo {
  font-family: adobe-caslon-pro;
  font-size: 2em;
}
#myNav {
  border-radius: 0;
  margin-bottom: 0;
}
#myJumbo {
  border-radius: 0;
  margin-top: -20px;
  padding: 0;
}
.navbar-brand {
  padding: 20px 15px;
}
.list-group-item {
  background-color: #555;
}
.text-xs-left {
  text-align: left;
}
.text-xs-right {
  text-align: right;
}
.text-xs-center {
  text-align: center;
}
.text-xs-justify {
  text-align: justify;
}
@media (min-width: 768px) {
  .text-sm-left {
    text-align: left;
  }
  .text-sm-right {
    text-align: right;
  }
  .text-sm-center {
    text-align: center;
  }
  .text-sm-justify {
    text-align: justify;
  }
}
@media (min-width: 992px) {
  .text-md-left {
    text-align: left;
  }
  .text-md-right {
    text-align: right;
  }
  .text-md-center {
    text-align: center;
  }
  .text-md-justify {
    text-align: justify;
  }
}
@media (min-width: 1200px) {
  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }
  .text-lg-center {
    text-align: center;
  }
  .text-lg-justify {
    text-align: justify;
  }
}
h4.MenuItem {
  padding-bottom: 0px;
  margin-bottom: 0px;
  line-height: 1;
}
