extends ../../includes/layoutBanquet
block banquetContent
    ol.breadcrumb
        li
            a(href="/") Home
        li
            a(href="/banquets") Banquet Welcome
        li
            a(href="/banquets/menus") Banquet Menus
        li.active  Lunch Menus
    p Content Here...