extends ../../includes/layoutBanquet
block banquetContent
    ol.breadcrumb
        li
            a(href="/") Home
        li
            a(href="/banquets") Banquet Welcome
        li.active  Menus
    h3 Breakfast Banquets

    p Breakfast banquets are perfect for early morning business meeting, fueling up for a day in Old Town or Wine Country, or enjoying friends and family the
        | morning after a big wedding.

    p Banquets may start as early as 7:30am and can be extended into an all day event when lunch and dinner options are purchased.

    p Buffet and Plate Service breakfasts make ordering easy. Just tell us the number of people in the party and your event is planned. 
        | Custom menus allow more flexibility and creativity on your part. Remember, upgrade selections, including audio/visual equipment, can be found
        a (href = ) here 
        | if you would like to enhance your party.

    p Currently the normal food and beverage minimums do not apply to breakfast banquets. However a minimum of 10 people are required to book a party.
 
    h1 REMAINING PAGE INFORMATION COMMENTED OUT IN BANQUETMENUS.JADE. THIS NEEDS TO BE TABLE FORMATED AND IS BEYOND MY CURRENT ABILITY
 <!--   
Pre-Composed Menus
       
Buffets
     
    
        
Continental Breakfast #1	
$10.95
    
Croissants, Fruit Platter, Orange Juice, Coffee Station
Continental Breakfast #2	
 
 
$12.95
Assorted Pastries, Fruit Platter, Assorted Yogurts, Orange Juice, Coffee Station
Breakfast Buffet #1	
 
$12.95
Scrambled Eggs, Bacon, Home Style Potatoes, Orange Juice, Coffee Station
Breakfast Buffet #2	
 
$16.95
Grilled Vegetable Frittata, Bacon and Sausage, Home Style Potatoes, Assorted Pastries, Fruit Platter, Orange Juice, Coffee Station

Plate Service
Sunrise Splendor	
 
$12.95
Grilled Vegetable Frittata Served with Bacon & Home Style Potatoes | Orange Juice and Coffee Service
Celebration Brunch (2 course)	
 
$14.95
Fruit & Pastry Sampler | Eggs Benedict or Vegetable Omelet Served with Bacon & Home Style Potatoes | Orange Juice and Coffee Service

 
Custom Menu
Starter
Fruit and Pastry Sampler	
 
$5.95
Fresh seasonal fruit served with assorted mini pastries
Cinnamon Roll	
 
$2.95
Fresh baked cinnamon roll topped with vanilla icing

Entrees
Choose up to three.
Vegetable Omelet	
 
$8.95
Roasted red peppers, artichoke hearts, sauteed onions and zuchinni in a large three egg omelet
Mushroom, Spinach and Cheese Omelet	
 
$8.95
Sauteed spinach and mushrooms and melted fresh mozzarella
California Omelet	
 
$11.95
Sauteed chicken breast, green onion, and avocado topped with hollandaise
Huevos Rancheros	
 
$9.95
Two eggs over easy served on a crisp corn tortilla, finished with a homemade ranchero sauce, served with Spanish rice and refried beans
Cinnamon Dolce French Toast	
 
$7.95
Fluffy egg bread with a cinnamon and nutmeg batter, finished with warm caramel sauce
Canadian Bacon Eggs Benedict	
 
$10.95
Two poached eggs served on English muffins with Canadian Bacon topped with homemade Hollandaise sauce
Baked Ham & Eggs	
 
$11.95
Generous portion of honey baked ham served with two eggs cooked to order (entire party must have eggs cooked same)
New York Steak & Eggs	
 
$13.95
Grilled New York steak, served aside two eggs cooked to order (entire party must have eggs cooked same way)

Side Dishes
To accompany the above entrees, choose 2 side dishes for you entire party.
Bacon (4ea)	
 
 included
Sausage (2ea)	
 
 included
Bacon and Sausage  (2ea/1ea)	
 
 included
Biscuit & Gravy	
 
 included
Fruit Kabob	
 
 included
Hash Browns	
 
 included
Homestyle Potatoes	
 
 included

Beverages
Coffee Service	
 
$2.95
Choice of Coffee or Decaffeinated Coffee
Orange Juice (6oz)	
 
$2.95
Fresh Orange Juice

Adult Beverages
//Mimosa	
 
$6.50
Champagne and orange juice cocktail
Red Beer	
 
$4.00
Bud Lite and tomato juice
Bloody Mary	
 
$6.50
Our house bloody mary mix, vodka, garnished with seasoned salt and celery
Harvey Wallbanger	
 
$6.00
Galliano and orange juice
Bailey's and Coffee	
 
$6.00
Hot coffee with Bailey's Irish Cream topped with whipped cream
-->