extends ../../includes/layoutBanquet


block banquetContent
    //- ol.breadcrumb
    //-     li
    //-         a(href="/") Home
    //-     li.active  Banquet Info
    .visible-xs.hidden-sm
        .btn-toolbar(style="margin-bottom: 15px")
            a.btn.btn-info(href="/banquets/booking" ) Booking Info
            a.btn.btn-info(href="/banquets/venues" ) Venues
            a.btn.btn-info(href="/banquets/menus/breakfast" ) Menus
            a.btn.btn-info(href="/banquets/beveragepackages" ) Beverage Packages
            a.btn.btn-info(href="/banquets/partyaddons" ) Party Add-ons
    
    img.radiusBorder5px.pull-right.inParagraph(src="/assets/chrisandkim.jpg")
    #guestInvite
        //- strong= "Dear " + urlParse("name") + ","
    p Thank you for considering our restaurants and nightclub to hold your upcoming event.
    p We are confident that after you visit our facility, study our menus and consider our track
        | record of hundreds of successful events you will be hard pressed to find a better value
        | for your banquet dollars.
    p Any conceivable function that requires tasty food, friendly service and an appropriate
        | environment is perfectly set within our Old Town Temecula location. We designed our
        | building for parties so you can craft an event that is as formal or as festive as you desire.
        | On the first floor, Front Street Bar & Grill serves a range of American cuisine favorites in a
        | casual atmosphere. Upstairs, Baily’s serves California/Continental cuisine in an elegant setting.
        | Each restaurant features indoor and outdoor seating with private rooms available. A courtyard
        | on the first level features a large space complete with a stage and a bar for outdoor receptions.
    p Types of events that we have served include weddings, rehearsal dinners, holiday parties,
        | birthday and anniversary celebrations, business meetings and presentations, class reunions,
        | civic functions, memorial services and more.
    p This section of our website will introduce you to the various dining rooms, our numerous
        | menus, and the process of booking an event. If you have any questions please do not hesitate
        | to call our Events Manager at extension 100. We hope our efforts to document this information
        | will entice you to "break bread" with us.
    p We look forward to serving you,
    p Sincerely,
    img(src="/assets/signatures_lowres_gray.png")

block scripts
    script(type="text/javascript", src="/vendor/jsonHTML/jsonHTML.min.js")
    script(type="text/javascript", src="/js/urlParse.js")
    script mkInvite().appendTo("#guestInvite")