extends ../../includes/layoutBanquet
block banquetContent
    ol.breadcrumb
        li
            a(href="/") Home
        li
            a(href="/banquets") Banquet Welcome
        li.active  Menus
    .visible-xs.hidden-sm
        .btn-toolbar(style="margin-bottom: 15px")
            a.btn.btn-info(href="/banquets/menus/breakfast" ) Breakfast Menus
            a.btn.btn-info(href="/banquets/menus/lunch" ) Lunch Menus
            a.btn.btn-info(href="/banquets/menus/dinner" ) Dinner Menus
            
    
    h3 Breakfast Banquets

    p Breakfast banquets are perfect for early morning business meeting, fueling up for a day in Old Town or Wine Country, or enjoying friends and family the
        | morning after a big wedding.

    p Banquets may start as early as 7:30am and can be extended into an all day event when lunch and dinner options are purchased.

    p Buffet and Plate Service breakfasts make ordering easy. Just tell us the number of people in the party and your event is planned. 
        | Custom menus allow more flexibility and creativity on your part. Remember, upgrade selections, including audio/visual equipment, can be found
        a (href = ) here 
        | if you would like to enhance your party.

    p Currently the normal food and beverage minimums do not apply to breakfast banquets. However a minimum of 10 people are required to book a party.
 
    