extends ../../includes/layoutBanquet
block banquetContent
    ol.breadcrumb
        li
            a(href="/") Home
        li
            a(href="/banquets") Banquet Welcome
        li.active  Menus
    .visible-xs.hidden-sm
        .btn-toolbar(style="margin-bottom: 15px")
            a.btn.btn-info(href="/banquets/menus/breakfast" ) Breakfast Menus
            a.btn.btn-info(href="/banquets/menus/lunch" ) Lunch Menus
            a.btn.btn-info(href="/banquets/menus/dinner" ) Dinner Menus

