extends ../../includes/layoutBanquet
block banquetContent
    p Here is beverage package information! -- MORE IN COMMENTS

// Beverage Service

// For quick speed of service we suggest limiting the number of choices of beverages. The choices you offer can be made during the planning process. Listed below are several of our best value selections. Please visit our website for the full list.

// All beverages and cocktails are always available through our service staff. However, preparation times may vary during busy periods. If you are concerned about long drink service times, you may provide a bar for your guests for a designated set up fee. Note that this set up fee is not included in the minimum food and beverage minimums.

// Bar Service Set Up Fee	
 
// $150.00
// Allows your guests the extra service of a bartender in your area. Fully stocked bar. No blended drinks. Pay for what drinks you consume.
// Banquet Wines (750ml)
// House White	
 
// $24.00 and up
// House Red	
 
// $30.00 and up
// Banquet Beers
// Bub Light 16oz	
 
// $5.50
// Budwieser 16oz	
 
// $5.50
// Coors Light 16oz	
 
// $5.50
// Corona Extra	
 
// $4.00
// Blue Moon	
 
// $4.50
// Kona Firerock Pale Ale	
 
// $4.00
// Green Flash Hop Head Red IPA	
 
// $4.50
// St. Pauli Girl N/A	
 
// $3.50
 
 
// Non Alcoholic Beverages
// Self Serve Coffee Station	
 
// $2.50
// Coffee Service	
 
// $2.95
// Iced Tea Station	
 
// $2.95
// N/A Beverage Service	
 
// $2.95
 