extends ../../includes/layoutBanquet
block banquetContent
    h3 Beverage Service
    p For quick speed of service we suggest limiting the number of choices of beverages. 
        | The choices you offer can be made during the planning process. Listed below are 
        | several of our best value selections. Please visit our website for the full list.
    p All beverages and cocktails are always available through our service staff. However, 
        | preparation times may vary during busy periods. If you are concerned about long 
        | drink service times, you may provide a bar for your guests for a designated set up fee. 
        | Note that this set up fee is not included in the minimum food and beverage minimums.
    h4.MenuItem Bar Service Set Up Fee  $150.00
    p Allows your guests the extra service of a bartender in your area. Fully stocked bar. 
        | No blended drinks. Pay for what drinks you consume.
    h3  Banquet Wines (750ml)
    
//     table.MenuItem
//         tr
//             td.MenuName
//                 span Tacos &nbsp;
//             td.Leader 
//                 div.Leader &nbsp;
//             td.MenuItemPrice
//                 span &nbsp; $14.95
//         tr
//             td.Description(colspan="3") This is the descpriton of the tacos.
//     table.MenuItem
//         tr
//             td.MenuName
//                 span Chicken Burritos &nbsp;
//             td.Leader 
//                 div.Leader &nbsp;
//             td.MenuItemPrice
//                 span &nbsp; $9.95
//         tr
//             td.Description(colspan="3") Our chicken burritos are really good.  We use really good chickens
//                 | that are named after presidents.  then we slice off their heads and process them.
//     table.MenuItem
//         tr
//             td.MenuName
//                 span Tacos &nbsp;
//             td.Leader 
//                 div.Leader &nbsp;
//             td.MenuItemPrice
//                 span &nbsp; $14.95
//         tr
//             td.Description(colspan="3") This is the descpriton of the tacos.        
//      table.MenuItem
//         tr
//             td.MenuName
//                 span Tacos &nbsp;
//             td.Leader 
//                 div.Leader &nbsp;
//             td.MenuItemPrice
//                 span &nbsp; $14.95
//         tr
//             td.Description(colspan="3") This is the descpriton of the tacos.   
//     
//         
//     
//  
// // 
// // 	
 
// 
// Banquet Beers
// Bub Light 16oz	
 
// $5.50
// Budwieser 16oz	
 
// $5.50
// Coors Light 16oz	
 
// $5.50
// Corona Extra	
 
// $4.00
// Blue Moon	
 
// $4.50
// Kona Firerock Pale Ale	
 
// $4.00
// Green Flash Hop Head Red IPA	
 
// $4.50
// St. Pauli Girl N/A	
 
// $3.50
 
 
// Non Alcoholic Beverages
// Self Serve Coffee Station	
 
// $2.50
// Coffee Service	
 
// $2.95
// Iced Tea Station	
 
// $2.95
// N/A Beverage Service	
 
// $2.95
 