extends ../../includes/layoutBanquet
block banquetContent
    h3 Beverage Service
    p For quick speed of service we suggest limiting the number of choices of beverages. 
        | The choices you offer can be made during the planning process. Listed below are 
        | several of our best value selections. Please visit our website for the full list.
    p All beverages and cocktails are always available through our service staff. However, 
        | preparation times may vary during busy periods. If you are concerned about long 
        | drink service times, you may provide a bar for your guests for a designated set up fee. 
        | Note that this set up fee is not included in the minimum food and beverage minimums.
    h4.MenuItem Bar Service Set Up Fee  $250.00
    p Allows your guests the extra service of a bartender in your area. Fully stocked bar. 
        | No blended drinks. Pay for what drinks you consume.
    h3 Banquet Wines (750ml)
    p House White              $32.00 and up
    p House Red                $34.00 and up

    h3 Banquet Beers
    p Bud Light 16oz           $7.00
    p Budwieser 16oz           $7.00
    p Coors Light 16oz         $7.00
    p Corona Extra 16oz        $6.00
    p Blue Moon                $6.00
    p Kona Firerock Pale Ale   $6.00
    p Modelo Especial          $6.00
    p Buckler NA              $5.00

    h3 Non Alcoholic Beverages
    p Self Serve Coffee Station    $3.50
    p Coffee Service               $3.50
    p Iced Tea Station             $3.00
    p NA Beverage Service         $3 to $3.50
    