extends ../../includes/layoutBanquet
block banquetContent
    //- ol.breadcrumb
    //-     li
    //-         a(href="/") Home
    //-     li
    //-         a(href="/banquets") Banquet Welcome
    //-     li.active  Booking Info
    h4 Step One - Make a Reservation
    p Select a date and start time for your event.  Parties are continuously booked throughout the year on a
        |first come first served basis.  The month of December is especially busy. You can check availability in 
        |the side bar on the right. 

    p Your event must begin and end within the following meal periods.
    ul
        li Breakfast 7:30am - 10:00am
        li Lunch 11:00am - 4:00pm
        li Dinner 5:00pm - 9:30pm
        li Nightclub 10:00pm - 2:00am
    p To book an event, a non-refundable deposit of $100 (cash or credit card) will be required. At this time the 
        |Events Manager can answer any questions you may have.

    h4 Step Two - Select Your Menu Items
    p As a general rule, our pre-composed menus provide the most value and simplify the menu selection process.
        br
        |For custom menus, determine the number of courses you would like for your meal (two course minimum). 
        |Select the items in each course from the appropriate menu (menus are not interchangeable). Below each
        | menu section title is the number of selections to make per course.
        br
        |If required, wine selections may be made to match your budget and taste. The full wine list is available 
        |on the website.

    h4 Step Three - Call to finalize the details
    p To ensure ingredient availability, call the events manager 10 days prior to the event to formalize the menu 
        |selections and your guaranteed guest count. If you would like printed personalized menus share the exact text 
        |with the Events Manager. We will email or fax the contract for your review and approval. Sign the contract 
        |acknowledging you agree upon the minimum food and beverage amount, the menu selections, and the guaranteed 
        |number of people.

    h4 Room Minimum & Capacity
    table#bookingTable
        tr
            td Room Name
            td Lunch
            td Dinner
            td Capacity
        tr
            td FSB&G Entire Patio
            td $1000 Mon-Thurs,
               | $1400 Fri-Sat,
               | NO SUNDAYS

            td $1500 Sun-Thu,
               | $2200 Fri-Sat
            td 31-70
        tr
            td FSB&G Portion of Patio
            td 2 course minimum. Patio remains open to the public for normal business.	
            td 2 course minimum. Patio remains open to the public for normal business.
            td 16-30
        tr
            td Baily's North Dining Room	$800	
            td $800 Mon-Thurs,
                | $1100 Fri, Sat & Sun
            td $1500 Sun-Thu $1800 Fri-Sat
            td 50
        tr
            td Baily's South Dining Room 		
            td $300 Mon-Thurs,
                | $400 Fri, Sat & Sun
            td $400 Sun-Thu $500 Fri-Sat
            td 24
        tr
            td Baily's Rotunda
            td $900 Mon-Thurs,
                | $1200 Fri, Sat & Sun
            td $1800 Sun-Thu $2100 Fri-Sat 
            td 42 
        tr
            td Baily's Balcony
            td $500 Mon-Thurs,
                | $700 Fri, Sat & Sun
            td $800 Sun-Thu $1100 Fri-Sat 
            td 30
        tr
            td(colspan="4")* Call for HOLIDAY RATES during the month of DECEMBER

    h3 Other Considerations
    h4 Getting in Touch with Us
    p Based on business requirements, our Events Manager keeps flexible daytime hours Monday - Friday.  You may 
        |contact the Events Manager at 951-676-9567 ext. 100.  Always leave a voice mail for a prompt return call no 
        |later than the end of the next business day.
    p Email (events@oldtowndining.com) is great way to document the inevitable back and forth dialog that occurs as 
        |we plan your event. 
    p Additionally, last minute minor changes, such as a late arrival or a variation in number of guests, can be 
        |handled by a dining room manager.  Just dial 951-676-9567 for such occurrences.

    h4 Table Configurations
    p Our staff is trained to accommodate special table configurations.  However, because of room capacities and 
        |the availability of tables and chairs we may be unable to facilitate special requests.  In some of these 
        |cases accommodations can be made with the rental of additional equipment at the expense of the client.

    h4 End Time
    p Please keep in mind the “end time” of your party.  Due to consecutive bookings during peak times 
        |(Friday and Saturday), we require that guests adhere to the end time of their party.  This allows our 
        |staff to prepare the room for subsequent events.  You will be charged a late fee of $50.00 if your party 
        |exceeds the end time by more than 10 minutes.

    h4 Payments & Billing
    p A 50% installment will be required a week prior to your event.

    p Your final bill will be the tally of all food and beverage charged at the contracted/menu price.  All 
        |purchases are subject to sales tax and a 20% service charge.  If the tally does not meet the food and 
        |beverage minimum the difference will be billed as a room charge and/or unmet minimum.

    p If your bill exceeds the minimum food and beverage charge as defined above, then you will be charged the 
        |actual amount of the food and beverage purchases, plus tax and a 20% service charge.

    p Payment for any rentals, which are coordinated by the Events Manager, will be paid in full (including tax 
        |on the rentals) two weeks prior to the event.

    .row
        .container
            br
            #subForm
                h4 Online submission
                p If you prefer, you can inquire to make a reservation with us here:

block scripts
    //code for submission.
    script(type="text/javascript", src="/vendor/jsonHTML/jsonHTML.min.js")
    script(type="text/javascript", src="/js/banquetSubmit.js")
    script banqSubForm().appendTo("#subForm")