extends ../../includes/layoutBanquet
block banquetContent
    ol.breadcrumb
        li
            a(href="/") Home
        li
            a(href="/banquets") Banquet Welcome
        li.active  Party Design Criteria
    p We offer a variety of menu and delivery formats to fit your needs. Use the following criteria to help you make
        |decisions through the planning process. Please do not hesitate to ask for accomodations not specified within
        |the website. We make every effort to meet your special requirements.

    h4 Time of Day
    ul
        li Breakfast 7:30am - 10:30am
        li Lunch 11:00am - 4:00pm
        li Dinner 5:00pm - 10:00pm
        li Nightclub 10:00pm - 2:00am

    h4 Service Delivery
    ul
        li Full Service Plated Meals - Service Staff delivers each course
        li Elegant Buffets - Staffed or unstaffed
        li Tray Served Receptions - Service staff with trays of finger food amongst your guests
        li Blended Formats - For example an hors d' oeuvres buffet prior to a plate service dinner

    h4 Food Selection
    ul
        li Pre-composed menus
        li Custom menus
    p We give you the option to craft a custom menu or select from our pre-composed offerings. There is value priced
        |info the set menus that is not available with the custom selections. Prices are subject to change.

    h4 Beverage Delivery
    ul
        li Hosted - 100% paid for by the host of the party.
        li Non-hosted - 100% paid for by the individual attendees.
        li Blended Format - Portion paid by host and remainder by attendees.
        li In Room Bar with Bartender.

    p We bill for beverages based on sonsumption at the end of your event. If you would like to calculate your potential
        |beverage tab visit our website for a drink calculator that helps estimate beverage consumption.

    h4 Rental Items and Decorations
    ul
        li Audio/Visual Equipment
        li Speaker/Microphone
        li Bluetooth Speaker and Microphone $50
        li Podium $35
        li Special table requirements

    p Our facility is able to accomodate most party needs. In some circumstances outside vendors are required to facilitate
        |an event. The event manager is able to assist you in this area.