extends ../../includes/layoutBanquet
block banquetContent
    //- ol.breadcrumb
    //-     li
    //-         a(href="/") Home
    //-     li
    //-         a(href="/banquets") Banquet Welcome
    //-     li.active  Venues
    h3 Venues
    p Have you visited our restaurants before?
    p If not, we strongly encourage you to do so as soon as possible so you can determine whether our dining rooms or 
        |patios will serve your needs.
    p Upstairs in Baily’s, we offer four separate rooms. The largest, the North Dining Room, is a well appointed room 
        |perfect for up to 50 people with facilities for audio visual presentations. The elegant Rotunda Dining Room 
        |offers an intimate setting with a double sided fireplace, high ceiling with a grand chandelier and draping 
        |curtains; it is perfect for parties up to 42 guests. The cozy South Dining Room is an excellent venue for parties 
        |up to 24 guests. Finally, the airy Balcony Dining Room overlooks Old Town Front Street and features the second 
        |side of the double sided fireplace and ceiling fans; the balcony seats up to 30 people. The rooms may be booked 
        |separately or together, and when the entire floor is booked, Baily’s can accommodate 142 guests.

    p For a more casual dining experience Front Street Bar & Grill, on the ground floor, makes the Patio available 
        |for private parties for up 70 guests. The outdoor venue has brick lined planters, ceramic pots and an eclectic 
        |fountain. Suspended umbrellas keep the sun off your guests. On cooler nights numerous patio heaters provide warmth.

    p Daily each venue is open to the public. When you book an event we stop taking reservations and begin to turn 
        |business away. Food and beverage minimums are based on the amount of business that would be generated on a 
        |normal business day.

    p There are several options to further enhance the decor of your event, including candles and audio/visual 
        |equipment.

    p Our goal is to provide an environment that appeals to all senses. By doing so we are confident you will have 
        |a memorable event.

    p Below are images of our different dining rooms and event venues. Each location can accomodate a different 
        |number of people.

    p * Call for HOLIDAY RATES during the month of DECEMBER
    h2(style="margin-bottom:20px") Room Stats
    .row
        .container(style="margin-bottom:40px")
            div.pull-left(style="margin-right: 20px")
                img.radiusBorder5px.img-repsonsive.border(src="/assets/NorthDininglowres.jpg")
            div.pull-left
                h3(style="margin-top: 0px") North Dining Room
                h4(style="margin-top: 0px; margin-bottom: 15px") Capacity: 50 People
                table(style="width: 250px;")
                    tr
                        th
                        th Normal
                        //- th Holiday
                        th Days
                    tr
                        td Lunch
                        td $800
                        //- td $1000
                        td Mon - Thurs
                    tr
                        td
                        td $1100
                        //- td $1300
                        td Fri, Sat & Sun
                    tr
                        td Dinner
                        td $1500
                        //- td $1800
                        td Sun - Thurs
                    tr
                        td 
                        td $1800
                        //- td $2200
                        td Fri & Sat
    .row
        .container(style="margin-bottom:40px")
            div.pull-left(style="margin-right: 20px")
                img.radiusBorder5px.img-repsonsive.border(src="/assets/rotunda2.jpg")
            div.pull-left
                h3(style="margin-top: 0px") Rotunda Dining Room
                h4(style="margin-top: 0px; margin-bottom: 15px") Capacity: 42 People
                table(style="width: 250px;")
                    tr
                        th
                        th Normal
                        //- th Holiday
                        th Days
                    tr
                        td Lunch
                        td $900
                        //- td $1000
                        td Mon - Thurs
                    tr
                        td
                        td $1200
                        //- td $1400
                        td Fri, Sat & Sun
                    tr
                        td Dinner
                        td $1800
                        //- td $2200
                        td Sun - Thurs
                    tr
                        td 
                        td $2100
                        //- td $2500
                        td Fri & Sat
    .row
        .container(style="margin-bottom:40px")
            div.pull-left(style="margin-right: 20px")
                img.radiusBorder5px.img-repsonsive.border(src="/assets/BalconyLowRes.jpg")
            div.pull-left
                h3(style="margin-top: 0px") Balcony
                h4(style="margin-top: 0px; margin-bottom: 15px") Capacity: 30 People
                table(style="width: 250px;")
                    tr
                        th
                        th Normal
                        //- th Holiday
                        th Days
                    tr
                        td Lunch
                        td $500
                        //- td $600
                        td Mon - Thurs
                    tr
                        td
                        td $700
                        //- td $900
                        td Fri, Sat & Sun
                    tr
                        td Dinner
                        td $800
                        //- td $1000
                        td Sun - Thurs
                    tr
                        td 
                        td $1100
                        //- td $1300
                        td Fri & Sat
    .row
        .container(style="margin-bottom:40px")
            div.pull-left(style="margin-right: 20px")
                img.radiusBorder5px.img-repsonsive.border(src="/assets/south.jpg")
            div.pull-left
                h3(style="margin-top: 0px") South Dining Room
                h4(style="margin-top: 0px; margin-bottom: 15px") Capacity: 24 People
                table(style="width: 250px; ")
                    tr
                        th
                        th Normal
                        //- th Holiday
                        th Days
                    tr
                        td Lunch
                        td $300
                        //- td $400
                        td Mon - Thurs
                    tr
                        td
                        td $400
                        //- td $500
                        td Fri, Sat & Sun
                    tr
                        td Dinner
                        td $400
                        //- td $500
                        td Sun - Thurs
                    tr
                        td 
                        td $500
                        //- td $600
                        td Fri & Sat
    .row
        .container(style="margin-bottom:40px")
            div.pull-left(style="margin-right: 20px")
                img.radiusBorder5px.img-repsonsive.border(src="/assets/Patio.jpg")
            div.pull-left
                h3(style="margin-top: 0px") Entire Patio
                h4(style="margin-top: 0px; margin-bottom: 15px") Capacity: 31 to 70 People
                table(style="width: 250px; ")
                    tr
                        th
                        th Normal
                        //- th Holiday
                        th Days
                    tr
                        td Lunch
                        td $1000
                        //- td $1200
                        td Mon - Thurs
                    tr
                        td
                        td $1400
                        //- td $1600
                        td Fri, Sat
                    tr
                        td Dinner
                        td $1500
                        //- td $1800
                        td Sun - Thurs
                    tr
                        td 
                        td $2200
                        //- td $2500
                        td Fri & Sat
    .row
        .container(style="margin-bottom:40px")
            div.pull-left(style="margin-right: 20px")
                img.radiusBorder5px.img-repsonsive.border(src="/assets/Patio.jpg")
            div.pull-left
                h3(style="margin-top: 0px") Portion of Patio
                h4(style="margin-top: 0px; margin-bottom: 15px") Capacity: 16 to 30 People
                table(style="width: 250px; ")
                    tr
                        th
                        th 
                        th 
                    tr
                        td 
                        td 
                        td 2 course minimum.
                    tr
                        td
                        td
                        td
                    tr
                        td
                        td 
                        td Patio remains open to the public for normal business.

// div#dataHere
// block scripts
//     script(type="text/javascript", src="/js/banquets.js")