extends ../../includes/layoutBanquet
block banquetContent
    h2 Venues

    p Have you visited our restaurants before?

    p If not, we strongly encourage you to do so as soon as possible so you can determine whether our dining rooms or patios
        | will serve your needs.

    p Upstairs in Baily’s, we offer four separate rooms. The largest, the North Dining Room, is a well appointed room perfect for up to 50 people with facilities for audio visual presentations. The elegant Rotunda Dining Room offers an intimate setting with a double sided fireplace, high ceiling with a grand chandelier and draping curtains; it is perfect for parties up to 38 guests. The cozy South Dining Room is an excellent venue for parties up to 18 guests. Finally, the airy Balcony Dining Room overlooks Old Town Front Street and features the second side of the double sided fireplace and ceiling fans; the balcony seats up to 30 people. The rooms may be booked separately or together, and when the entire floor is booked, Baily’s can accommodate 136 guests.

    p For a more casual dining experience Front Street Bar & Grill, on the ground floor, makes the Patio available for private parties for up 70 guests. The outdoor venue has brick lined planters, ceramic pots and an eclectic fountain. Suspended umbrellas keep the sun off your guests. On cooler nights numerous patio heaters provide warmth.

    p Daily each venue is open to the public. When you book an event we stop taking reservations and begin to turn business away. Food and beverage minimums are based on the amount of business that would be generated on a normal business day.

    p On page 19 are several options to further enhance the decor of your event, including candles and audio/visual equipment.

    p Our goal is to provide an environment that appeals to all senses. By doing so we are confident you will have a memorable event.

    p Below are images of our different dining rooms and event venues. Each location can accomodate a different number of people.
    
    