extends ../includes/layout

block content
    include ../includes/nav
    include ../includes/carousel
    .row
        .container-fluid
            .row
                .container-fluid
                    .col-xs-12
                        hr
            .row
                .col-md-3.col-sm-6
                    .thumbnail.center-block
                        a(href="/dining")
                            img.img-responsive.center-block(src="/assets/restaurant.png" )
                        .caption
                            p The art of hospitality...Unique offerings delivered with friendly and
                                | knowledgeable service.  Choose to dine on the patio, the vibrant downstairts
                                | or the more intimate upstairs.&nbsp;&nbsp;

                .col-md-3.col-sm-6
                    .thumbnail.center-block
                        a(href="/banquets")
                            img.img-responsive.center-block(src="/assets/banquet3.png" )
                        .caption
                            p Baily's was built from the ground up for private parties and banquets.
                                | Secluded rooms, diverse menus and stellar service.&nbsp;&nbsp;
                        
                .clearfix.visible-sm-block
                .col-md-3.col-sm-6
                    .thumbnail.center-block
                        a(href="/nightclub")
                            img.img-responsive.center-block(src="/assets/nightclub6.png" )
                        .caption
                            p Full service nightclub boasting ample elbow room, three bars, two dance floors,
                                | bottle service, and party packages.&nbsp;&nbsp;

                .col-md-3.col-sm-6
                    .thumbnail.center-block
                        a(href="/music")
                            img.img-responsive.center-block(src="/assets/music3.png" )
                            .caption
                                p Six months in...six months out.  When its cold (Nov-Apr) solo acts are featured
                                    | on the bar stage.  When it warms up (May-Oct) look for full bands on the Courtyard Stage.&nbsp;&nbsp;


    .row
        include ../includes/footer


