extends ../includes/layout

block content
    include ../includes/nav
    .row.visible-md.visible-lg.visible-sm
        include ../includes/carousel
    .row
        .container-fluid
            .row
                .col-md-12.text-center
                    br
                    a.btn.btn-info(href="#signUpModal", data-toggle="modal") Join our club!
            .row
                hr
                .col-md-2.col-sm-3.col-md-offset-2
                    .thumbnail.center-block
                        a(href="/dining")
                            img.img-responsive.center-block(src="/assets/restaurant.png" )
                        .caption
                            p The art of hospitality...Unique offerings delivered with friendly and
                                | knowledgeable service.  Choose to dine on the patio, the vibrant downstairs
                                | or the more intimate upstairs.&nbsp;&nbsp;

                .col-md-2.col-sm-3
                    .thumbnail.center-block
                        a(href="/banquets")
                            img.img-responsive.center-block(src="/assets/banquet3.png" )
                        .caption
                            p Baily's was built from the ground up for private parties and banquets.
                                | Secluded rooms, diverse menus and stellar service.&nbsp;&nbsp;
                        
                //.clearfix.visible-sm-block
                .col-md-2.col-sm-3
                    .thumbnail.center-block
                        a(href="/nightclub")
                            img.img-responsive.center-block(src="/assets/nightclub6.png" )
                        .caption
                            p Full service nightclub boasting ample elbow room, three bars, two dance floors,
                                | bottle service, and party packages.&nbsp;&nbsp;

                .col-md-2.col-sm-3
                    .thumbnail.center-block
                        a(href="/music")
                            img.img-responsive.center-block(src="/assets/music3.png" )
                        .caption
                            p Six months in...six months out.  When its cold (Nov-Apr) solo acts are featured
                                | on the bar stage.  When it warms up (May-Oct) look for full bands on the Courtyard Stage.&nbsp;&nbsp;


    .row
        include ../includes/footer

    .modal.fade(id="signUpModal", tabindex="-1")
        .modal-dialog
            .modal-content
                .modal-header
                    a.close(href="#", data-dismiss="modal")&times;
                    h2 Keep informed!
                .modal-body(id="signUpModalBody")
                    p We do not share you email address with anyone.
                    br
                    form.form-inline(name="signUpForm", id="signUpForm", action="/api/signup", method="post")
                        //.form-group
                            //label.sr-only(for="inputEmail") Email 
                        .input-group
                            input.form-control(id="email", type="email", placeholder="Email Address")
                            span.input-group-btn
                                button.btn.btn-info(type="submit") Add Me!  
                            //button.btn.btn-success(type="submit") Join our club!
                    br
                    p#modalResult
                .modal-footer
                    button.btn.btn-success(data-dismiss="modal") Close




