extends ../includes/layout

block content
    .navbar.navbar-inverse.navbar-fixed-top
        .navbar-header
            .navbar-brand
                h4 Baily's
    .container
        #content.row
            .col-sm-12
                p hello
    .footer
        .navbar.navbar-inverse.navbar-bottom

