extends ../includes/layout

block content
    include ../includes/nav
    include ../includes/carousel
    .row
        .container-fluid
            .col-md-12
                hr
            .col-md-3.col-sm-6
                a(href="/dining")
                    img.img-responsive.center-block(src="/assets/nightclub3.png" )
                    h3.captionJump.text-center Dining
            .col-md-3.col-sm-6
                a(href="/nightclub")
                    img.img-responsive.center-block(src="/assets/nightclub3.png" )
                    h3.captionJump.text-center Nightclub
            .col-md-3.col-sm-6
                a(href="/banquets")
                    img.img-responsive.center-block(src="/assets/nightclub3.png" )
                    h3.captionJump.text-center Banquets
            .col-md-3.col-sm-6
                a(href="/music")
                    img.img-responsive.center-block(src="/assets/nightclub3.png" )
                    h3.captionJump.text-center Live Music
    .row
        include ../includes/footer


