extends ../../includes/layoutDining
block diningContent

    each val in viewBag.beersAndMore.Menu.Sections.Section
        h3= val.SectionTitle
        table.MenuItem2
            each item in val.MenuItems.MenuItem
                tr
                    td.MenuName2= item.MenuLName
                    td.MenuItemPrice2= utils.getPriceNoCents(item.MenuPrice,false)
                
    p= viewBag.beersAndMore.Menu.Footer


