extends ../../includes/layout
block content
   include ../../includes/nav
   .container-fluid
      .row
         //Image Head
         .col-md-12.col-lg-8.col-lg-offset-2.text-center
            .page-header
               h1= title
      .row
         //Three column content
         .col-md-12.col-lg-8.col-lg-offset-2
            .col-sm-2.hidden-xs
               include ../../includes/navDining
            .col-sm-8
               p Here is our beer list!
            .col-sm-2
               include ../../includes/entSched
               include ../../includes/eventSched
      .row
         include ../../includes/footer
