
extends ../../includes/layoutDining
block diningContent
    .visible-xs.hidden-sm
        .btn-toolbar(style="margin-bottom: 15px")
            a.btn.btn-info(href="/dining/menu" ) Menu
            a.btn.btn-info(href="/dining/beer" ) Beers & More
            a.btn.btn-info(href="/dining/wine" ) Wine List
            a.btn.btn-info(href="/dining/cocktails" ) Specialty Cocktails
            a.btn.btn-info(href="/dining/spirits" ) Distilled Spirits
    
    img.radiusBorder5px.img-responsive.border(src="/assets/buffet_header2.jpg")
    
    br
    br
    br
    br
    p We have a limited brunch menu from 11am-3pm, shown below, alongside our regular menu.

    div.col-sm-12.text-center.radiusBorder5px.border
        br
        p 
            i 
                u All items come with bacon, sausage, home style potatoes,
        p 
            i 
                u and fruit salad
        br
        p 
            h4 Eggs Benedict 14
        p 
            i Two poached eggs served on toasted English muffins, Canadian ham, and hollandaise sauce
        br
        br
        p 
            h4 Spinach, Mushroom and
        p 
            h4 Cheese Omelet 13
        p 
            i Sautéed spinach and mushrooms and
        p 
            i melted fresh mozzarella
        br
        br
        p 
            h4 California Omelet 14
        p 
            i Sautéed chicken breast, green onion, and avocado topped with hollandaise
        br
        br
        p 
            h4 Vegetable Omelet 13
        p 
            i Roasted red peppers, artichoke hearts, sautéed onions and zucchini in a large three egg omelet
        br
        br
        p 
            h4 Cinnamon Dolce
        p 
            h4 French Toast 13
        p 
            i Fluffy egg bread with a cinnamon and nutmeg batter, finished with warm caramel sauce

    br
    br
    p Baily's now offers a buffet brunch every Sunday from 10am-2pm featuring a bottomless bloody mary, mimosa, and sangria bar. The buffet offers both brunch, lunch, and made to order omelettes, alongside the carving, parfait, and seafood statins. Treat yourself to the endless options our buffet has to offer as you relax and enjoy our live music from 10am-2pm. 
    br
    p
        h3 Buffet Pricing: 
    p Adults $29 
    p Kids 12 & Under $15 
    p Bottomless Bar 21 & Up  $15 

    br
    br
    br
    br
    br
