extends ../../includes/layoutDining
block diningContent
    h1 Cocktails -- MORE IN COMMENTS
    
<!--
Specialty Drinks

Specialty Drinks
Baily’s Signature Margarita	
 
$9.00
Cuervo Tradicional Tequila, Grand Gala, pomegranate liqueur, and citrus juices on the rocks with pomegranate sugar rim
Front Street Margarita	
 
$9.00
Cuervo Tradicional Tequila, fresh citrus juices and a splash of Grand Gala. Served on the rocks with a salt rim
Cupid's Kiss	
 
$9.00
Smirnoff Vanilla Vodka, Godiva White Chocolate Liqueur, and raspberry liqueur, shaken and served up in a sugar rimmed cocktail glass
Gingered Pear Martini	
 
$11.00
Grey Goose La Poire Vodka, Stirrings Ginger Liqueur, a splash of Pear Liqueur and fresh lemon juice. Shaken and served up in a cocktail glass with lemon twist
Quadruple Berry Cosmo Martini	
 
$8.00
Smirnoff Blueberry Vodka, splash of Chambord, cranberry juice and strawberry sugar rim
Hop, Skip and Go Naked	
 
$8.50
Craft Beer & Vodka cocktail made with our draught Ballast Point Sculpen IPA, Smirnoff Citrus Vodka and grapefruit juice, garnished with a lime wedge
Baily’s Rum Runner	
 
$10.00
Meyer's Platinum Rum, made tropically delicious with splashes of Blackberry Brandy and Creme de Banana, shaken with pineapple & orange juices, and a float of Meyer's Dark Rum. Served on the rocks and garnished with a lime wheel and a cherry
Baily’s Mardi Gras Cocktail	
 
$9.50
Captain Morgan Original Spiced Rum, pineapple & orange juices with a float of Amaretto. Served on the rocks and garnished with a lime wheel
Apple Whiskey Sour	
 
$7.50
Mickey Finn Apple Whiskey, lemon juice, and our gourmet sweet & sour. Shaken and served over ice, garnished with a Maraschino cherry
Pomegranate Lemon Drop	
 
$8.00
Pomegranate and Citrus Smirnoff Vodkas, lemonade, and a splash of fresh lemon juice. Shaken and served up in a cocktail glass with pomegranate sugared rim
Holland Mule	
 
$9.00
Nolet Silver Gin with Fever Tree Ginger Beer over ice and a squeeze of fresh lime
Moscow Mule	
 
$8.50
Ketel One Vodka with Fever Tree Ginger Beer over ice and a squeeze of fresh lime
--!>