extends ../../includes/layoutDining
block diningContent
    h2 About our Mixologists
    
    table.MenuItem2
        tr
            td.MenuName2 MenuItem here...Now the title is getting bigger and biggger will it wrap?
            td.MenuItemPrice2 $5.50  $4.40
        tr
            td.MenuItemDescription2(colspan='2') This is a description of the menu item and now it has a larger description. to see if it will push past the text
            td
    