extends ../../includes/layoutDining
block diningContent
    h4 Hours
    p Open Daily at 11AM
    p Last Seating 9PM Sunday - Thur and 10PM Friday - Saturday
    a(href="/dining/menu")
    p The Menu is here


