extends ../../includes/layoutDining
block diningContent
    img.img-responsive.border(src="/assets/filetMignon2.png")
    h3 Cuisine
    p Baily's serves California/Continental cuisine.  Our food is prepared daily 
        | by our well trained and talented culinary staff.  The menu features
        | Appetizers, Soup & Salads, Entrees and Desserts.  In late 2014, Baily's
        | teamed up with Robin McCoy of Robin's Nest Desserts to bring you an 
        | amazing array of fresh baked pastries.
    h3 Hours
    p Open Daily at 11AM
    p Last Seating 9PM Sunday - Thur and 10PM Friday - Saturday <br>
        | Please keep in mind that our nightclub opens at 10:00pm on Friday 
        | and Saturday and the ambient noise increases as the club fills up. 
        | Guests are welcome to stay in Baily's until midnight. 
    a(href="/dining/menu")
    p The Menu is here


