//
   Created by patterncoder on 5/12/2015.
extends ../../includes/layoutDining
block diningContent
    ol.breadcrumb
        li
            a(href="/") Home
        li
            a(href="/dining") Restaurant Info
        li.active  Distilled Spirits
    h2 About our well...
    p.lead For those of you that are unfamiliar with the term well,
        | here is a brief explanation.  When you order a gin and tonic
        | from a bar you will be served the 'default' gin from the 'well'.
        | The spirits served from the well are generally of lower quality
        | than the 'call' spirits found on the 'back bar' or the 'top shelf'.
        | Now this practice is generally fair as the well drinks are priced 
        | lower than a drink made with call spirits.  Baily's well during 
        | restaurant hours serves a premium well while charging normal well 
        | prices.  In some ways this makes every hour a HAPPY HOUR!
    p We challenge you to look at the well brands served around town and how 
        | much you pay for the beverage.  And next time think about what you 
        | would pay at our place.  We believe we offer a great value!
    .twoColumns
        each val in viewBag.menu.Menu.Sections.Section
            section.wines
                h3= val.SectionTitle
                hr(style="width: 100%; padding: 0px; margin: 0px")
                ul.list-unstyled.wineList
                    each item in val.MenuItems.MenuItem
                        li= item.MenuLName + '  '
                            strong= utils.getPriceNoCents(item.MenuPrice,false,{replaceZero: ''})
                
    p= viewBag.menu.Menu.Footer
    
    // table(style="width: 100%")
    //     tr
    //         td(style="font-weight: bold; valign: bottom; width: 120px; padding-bottom: 0px") Menu Item with a longer name
    //         td(style="border-bottom: dotted white 1px; padding-bottom: 0px")&nbsp
    //         td(style="font-weight: bold; text-align: right; valign: bottom; width: 60px") $45.00
    //     tr
    //         td(colspan="3") This is the description
<!--
Liquor

Well Liquor
We are proud of the liquors served from our well which are considered call liquors in many othe establishments. When you order a generic cocktail from our mixologist know that it is made with one or more of the following.
Smirnoff Vodka	
 
$5.00
Tanqueray Gin	
 
$5.50
Cuervo Silver	
 
$5.50
Myer's Platinum	
 
$5.00
Seagram's 7 Crown	
 
$5.00
J & B Scotch	
 
$5.50
Jaques Cardin Brandy	
 
$5.50
Cinzano Sweet Vermouth	
 
Cinzano Dry Vermouth	
 

Vodka
Absolut Peppar

$6.00 
Belvedere
 
$8.00
Belvedere 1X - 100 Proof	
 
$9.00
Belvedere Lemon Tea	
 
$8.00
Ciroc
 
$7.75
Ciroc Peach	
 
$7.75
Ciroc Red Berry	
 
$7.75
Grey Goose	
 
$10.00
Grey Goose La Poire	
 
$10.00
Jerermiah Weed - Sweet Tea	
 
$7.00
Kettle One	
 
$7.00
Kettle One Citroen	
 
$7.00
Kettle One Orange	
 
$7.00
Smirnoff Apple	
 
$5.50
Smirnoff Blueberry	
 
$5.50
Smirnoff Cinna-Sugar	
 
$5.50
Smirnoff Coconut	
 
$5.50
Smirnoff Cherry	
 
$5.50
Smirnoff Citrus	
 
$5.50
Smirnoff Orange	
 
$5.50
Smirnoff Pear	
 
$5.50
Smirnoff Pomegranate	
 
$5.50
Smirnoff Raspberry	
 
$5.50
Smirnoff Root Beer Float	
 
$5.50
Smirnoff Toasted Marshmallow	
 
$5.50
Smirnoff Vanilla	
 
$5.50
Smirnoff Watermelon	
 
$5.50
Smirnoff Whipped Cream	
 
$5.50

Gin
Bombay Sapphire	
 
$7.50
Gordon's	
 
$5.50
Nolet's Silver Dry Gin	
 
$7.50
Tanqueray #10	
 
$8.00

Tequila
Don Julio 70th Anejo Blanco	
 
$12.00
Don Julio 1942	
 
$15.00
Don Julio Anejo	
 
$11.50
Don Julio Blanco	
 
$9.50
Don Julio Reposado	
 
$11.00

Rum
10 Cane	
 
$8.50
Bacardi Limón	
 
$7.50
Bacardi Silver	
 
$7.00
Bacardi 151	
 
$9.00
Captain Morgan Lime Bite	
 
$5.00
Captain Morgan Mango	
 
$6.00
Captain Morgan Passionfruit	
 
$6.00
Captain Morgan Spiced	
 
$5.50
Captain Morgan Spiced 100	
 
$6.00
Malibu Coconut	
 
$6.00
Myer's Original Dark	
 
$6.00

Whiskey
Bulleit Bourbon	
 
$6.50
Bulleit Rye	
 
$6.50
Bushmills
 
$5.75
Bushmills Black Bush	
 
$7.00
Bushmills Honey	
 
$6.00
Cabin Fever Maple Whisky	
 
$7.00
Crown Royal	
 
$7.00
Crown Royal Reserve	
 
$10.00
Gentleman Jack	
 
$9.00
Jack Daniel's	
 
$7.00
Jack Daniel's Honey	
 
$7.00
Jameson
 
$6.50
Jim Beam	
 
$5.50
Maker's Mark	
 
$7.00
Michael Collins Blended	
 
$6.25
Michael Collins Singlemalt	
 
$7.50
Seagram's Dark Honey	
 
$5.50
Seagram's VO	
 
$5.50

Scotch Whiskey
Ardbeg 10 Year	
 
$10.00
Buchanan's 12 Year	
 
$10.00
Cutty Sark	
 
$6.00
Dewar's White	
 
$8.00
Glenlivet 12 Year	
 
$8.00
Glenmorangie 10 Year	
 
$8.50
Johnnie Walker Black	
 
$8.00
Johnnie Walker Blue	
 
$25.00
Johnnie Walker Gold	
 
$14.50
Johnnie Walker Green	
 
$15.00
Laphroaig 10 Year	
 
$10.00
Oban 14 Year	
 
$13.00
Singleton Single Malt	
 
$6.00

Cognac
Hennessy VS	
 
$8.00
Hennessy Black	
 
$9.00
Hennessy VSOP	
 
$10.00
Hennessy XO	
 
$27.00
Navan Vanilla	
 
$10.00

Fortified Wine
Harveys Bristol Cream	
 
$5.50
Paul Masson Brandy	
 
$5.50

Proprietary Liqueurs
Amaretto Disaronno	
 
$6.00
B & B	
 
$8.00
Bailey's Irish Cream	
 
$6.00
Bailey's Vanilla Cinnamon	
 
$6.00
Barenjager
 
$6.00
Campari

$6.00
Chambord

$7.50
Drambuie
 
$10.00
Frangelico
 
$8.00
Galliano
 
$6.00
Godiva Dark Chocolate
 
$7.00
Godiva White Chocolate
 
$7.00
Goldschlager
 
$7.00
Grand Marnier
 
$8.50
Grand Marnier 150 Year
 
$20.00
Grand Marnier Titanium
 
$10.00
Harlem
 
$5.00
Hpnotiq
 
$7.00
Kahlua
 
$6.00
Licor 43
 
$6.00
Midori
 
$6.00
Nuvo Sparkling Liqueur - Classic or Peach Cobbler
 
$11.00
Qream Peach
 
$7.00
Qream Strawberry
 
$7.00
Rumple Minze
 
$6.00
Rumple Minze Lime	
 
$4.00
Romana Sambuca
 
$6.50
Southern Comfort	
 
$6.00
Tia Maria
 
$6.50
Tuaca
 
$6.00

Cordials
Our DeKuyper and other noted brand of cordials are used for the numerous cocktails made in our bar.
Anisette
 
Blackberry
 
Butter Shots	
 
Cheri Beri
 
Cinnanmon Schnapps
 
Crème de Banana
 
Crème de Cacao Dark
 
Crème de Cacao White
 
Crème de Cassis
 
Crème de Menthe Green
 
Crème de Menthe White
 
Curacao Blue
 
Espresso
 
Island Blue
 
Peachtree
 
Peppermint 100 Proof
 
Pineapple
 
Razzamatazz
 
Rootbeer

Sloe Gin
 
Sour Apple
 
Triple Sec
 
Watermelon
 

 --!>