//
   Created by patterncoder on 5/12/2015.

extends ../../includes/layout
block content
    include ../../includes/nav
    .row
        .container
            .col-md-6
                h1 About
    include ../../includes/footer