//
   Created by patterncoder on 5/12/2015.
extends ../../includes/layoutDining
block diningContent
    
    p Here is our wine list! -- MORE IN COMMENTS
    
//    Our wine list below features wines hand picked by Kim Baily.  Wine that are available by the glass have two prices listed.  Our servers are pleased to assist you with wine selections.
 
// Wine List

// Our winelist changes frequently.
// Sauvignon Blanc
// R2
// 2012
// Baily Vineyard & Winery - Montage - Savignon Blanc/Sémillon - Temecula
// $32.00
// $8.50
// R2
// 2013
// Makara - Marlborough, New Zealand
// $30.00
// $7.50
// R2
// 2013
// Matua Valley - Marlborough, New Zealand
// $28.00
// R2/B309
// 2013
// Sterling - Napa Valley
// $23.00
// Chardonnay
// R1
// 2012
// Chalone Vineyard - Monterey County
// $26.00
// R1
// 2010
// Erik Turner - Epic Day - Unoaked - Temecula
// $30.00
// R1/B308
// 2012
// Flora Springs - Napa Valley
// $32.00
// R1/B307
// 2013
// Flowers - Sonoma Coast
// $69.00
// R1
// 2013
// Louis Latour - Ardèche - Côteaux de l'Ardèche, France
// $24.00
// $7.00
// R1
// 2013
// Sterling - Vintner's Collection - Central Coast
// $28.00
// $8.00
// R1
// 2013
// Talbott - Kali Hart - Estate Grown, Monterrey
// $32.00
// $9.00
// Riesling
// R2
// 2013
// Baily Vineyard & Winery - Dry Riesling - Temecula
// $26.00
// $7.00
// R2/B204
// 2011
// BV - Coastal Estates Riesling - California
// $22.00
// R2
// 2008
// Trimbach - Riesling (Dry) - Alsace, France
// $37.00
// Other White
// R2
// 2012
// Beaulieu Vineyard - Muscato - Coastal Estates - California
// $26.00
// $7.00
// R2
// 2010
// Cherry on Top - Muscat, Riesling, Gewurztraminer - Sweet Blend
// $23.00
// R2
// 2012
// Luccio - Moscato d’Asti - Piedmont, Italy
// $24.00
// R2
// 2013
// Luna Vineyards - Pinot Grigio - Napa Valley
// $28.00
// $7.50
// R2/B310
// 2013
// Ponzi Vineyards - Pinot Gris - Willamette Valley, Oregon
// $34.00
// Rose
// R2
// 2012
// Baily Vineyard & Winery - Rose of Sangiovese (Dry) - Temecula
// $24.00
// $6.50
// R2/B203
// 2012
// Warrant - Wick'd Rosé (Sweet) - Cab Sauv & Cab Franc
// $29.00
// Cabernet Sauvignon
// SRB
// 2011
// Baily Vineyard & Winery - Temecula
// $44.00
// $11.00
// C-S48
// 2008
// Beaulieu Vineyard - George de Latour Private Reserve - Napa Valley
// $149.00
// C301
// 2010
// Beaulieu Vineyard - George de Latour Private Reserve - Napa Valley
// $120.00
// C308
// 2011
// Beaulieu Vineyard - Rutherford
// $61.00
// C307
// 2011
// Caymus - Napa Valley
// $115.00
// C201
// 2012
// Caymus - 40th Anniversary, Napa Valley
// $119.00
// C-S69
// 2004
// Caymus - Special Selection - Napa Valley
// $240.00
// C2
// 2010
// Caymus - Special Selection - Napa Valley
// $225.00
// C501
// 2012
// Daou Vineyards - Paso Robles
// $42.00
// C1
// 2010
// Dominus Estate - Napa Valley
// $275.00
// C401
// 2010
// Groth - Oakville, Napa Valley
// $107.00
// C405
// 2010
// Hewitt - Rutherford, Napa Valley
// $125.00
// C-S67
// 2009
// Hundred Acre - Ark Vineyard - Howell Mountain, Napa Valley
// $400.00
// C305
// 2009
// Liparita - Oakville, Napa Valley
// $90.00
// C306
// 2012
// ONEHOPE - California - 50% profits Help Children with Autism
// $24.00
// SRB
// 2012
// Paripaso - Paso Robles - California
// $30.00
// $8.00
// S46
// 2002
// Paul Hobbs - Beckstoffer To Kalon Vineyard - Oakville, Napa
// $249.00
// C206
// 2011
// Provenance - Rutherford, Napa Valley
// $69.00
// C304
// 2013
// Uppercut - Napa Valley
// $34.00
// $9.50
// Meritage
// C-SRB
// 2010
// Baily Vineyard & Winery - Temecula
// $65.00
// C304
// 2010
// Beaulieu Vineyard - Tapestry - Rutherford, Napa Valley
// $69.00
// B304
// 2011
// if you see kay - Cabernet, Petite Verdot & Primitivo - Lazio, Italy
// $40.00
// C-S71
// 2010
// Newton - Claret - Napa County
// $42.00
// C101
// 2000
// Niebaum Coppola - Rubicon - Rutherford, Napa Valley
// $160.00
// C1
// 2009
// Opus One - Napa Valley
// $300.00
// C404
// 2011
// Sterling - Vintner's Collection - Central Coast
// $26.00
// Merlot
// B601
// 2012
// Sterling - Napa Valley
// $32.00
// $9.00
// B609
// 2009
// Waterbrook - Reserve - Columbia Valley, Washington
// $42.00
// Other Red
// B407
// 2011
// Baily Vineyard & Winery - Cabernet Franc - Temecula
// $35.00
// B?607
// 2011
// Baily Vineyard & Winery - Malbec - Temecula
// $34.00
// B703
// 2011
// Baily Vineyard & Winery - M&M - 50% Merlot & 50% Malbec - Temecula
// $34.00
// $8.50
// B504
// 2011
// Baily Vineyard & Winery - Sangiovese - Unoaked - Temecula
// $34.00
// $9.00
// B606
// 2009
// Beaulieu Vineyard - Beaurouge - Red Blend - Rutherford, Napa Valley
// $49.00
// B605
// 2014
// George Duboeuf - Beaujolais - Villages Nouveau, France
// $27.00
// B405
// 2008
// la Maialina - Chianti Classico - Greve, Italy
// $32.00
// B401
// 2010
// La Tarasque - Old Vine Grenache Blend - Cotes Du Rhone, France
// $30.00
// B604
// 2008
// Numanthia - Termes - Tinto de Toro - Toro, Spain
// $35.00
// B701
// 2013
// Portillo - Malbec - Valle de Uco - Mendoza, Argentina
// $29.00
// B704
// NV
// Rosatello - Rosso - Sweet Red Blend, Italy
// $24.00
// SBR
// 2000
// Ruffino - Romitorio di Santedame (Merlot & Colorino) - Italy
// $59.00
// B408
// 2011
// Tuck Beckstoffer - Melée - 90% Grenache & 10% Syrah, California
// $65.00
// B512
// 2003
// Vina Cobos by Paul Hobbs - Malbec - Marchiori Vineyard - Mendoza, Argentina
// $140.00
// B301
// 2008
// Zaca Mesa - Z Cuvée - Grenache, Mourvedre & Syrah, Santa Ynez
// $36.00
// Pinot Noir
// B-SRB
// 2012
// Acacia - Napa Valley & Carneros
// $38.00
// B511
// 2013
// Acacia - Napa Valley & Carneros
// $38.00
// B509
// 2013
// Belle Gloss by Caymus - Meiomi - Monterey, Santa Barbara & Sonoma Counties
// $47.00
// B508
// 2010
// Boulder Bank by Nick Goldschmidt -  Marlborough - New Zealand
// $42.00
// B507
// 2012
// Cameron Hughes - Lot 425 - Central Coast
// $32.00
// $8.50
// B404
// 2006
// Chalone Vineyard - (375mL) - Estate
// $24.00
// B501
// 2013
// Cherry Pie - Cherry Tart, Sonoma, Monterey & Santa Barbara Co
// $36.00
// B506
// 2010
// Domaine Faiveley - Clos des Myglands - Mercurey 1er Cru - Burgundy
// $60.00
// Zinfandel
// B408
// 2012
// Beran by Caymus - California
// $36.00
// B412
// 2012
// Bradford Mountain - Dry Creek Valley
// $30.00
// B409
// 2011
// ONEHOPE - California - 50% profits go to Support Our Troops
// $28.00
// B410
// 2011
// Rosenblum - Sonoma
// $32.00
// $8.50
// B411
// 2009
// Rosenblum - Rockpile - Rockpile Road Vineyard, Sonoma
// $65.00
// Syrah
// B306
// 2010
// Château Tanunda - Shiraz - Grand Barossa - Australia
// $34.00
// B305
// NV
// Erik Turner - Rocker Red - Temecula
// $32.00
// BSBR
// 2011
// Layer Cake - Shiraz - South Australia
// $30.00
// B406
// 2013
// Layer Cake - Shiraz - South Australia
// $30.00
// B201
// 2011
// Two Hands - Angel's Share Shiraz - McLaren Vale, Australia
// $49.00
// Dessert Wine
// S29-32
// NV
// Rosenblum - Desiree - Chocolate - Alameda, California
// $36.00
// $9.00
// Dessert Wine - Fortified
// (3oz. Glass Pour)
// CART/S10
// 2009
// Baily Vineyard & Winery - Vintage Port - Temecula
// $56.00
// $15.00
// S38
// 1997
// C&E Sandeman - Port - Vau Vintage (375ml) - Portugal
// $63.00
// CART
// NV
// Cockburn's - Special Reserve Port - Portugal
// $6.00
// CART/S14
// NV
// Cockburn's - Tawny Port - 10 Year - Portugal
// $45.00
// $6.00
// CART/S41
// 2006
// Dows - Quinta Senhora da Ribeira - Portugal
// $88.00
// $14.00
// CART
// NV
// Dows - Tawny Port - 20 Year - Portugal
// $13.00
// CART/S07
// NV
// Dows - Trademark Reserve Port - Portugal
// $45.00
// $7.00
// S23
// NA
// South Coast Winery - Black Jack Port - Temecula
// $50.00
// Sparkling Wine
// R4/B2
// NV
// Domaine Chandon - Blanc de Noir - California
// $43.00
// R4/B1
// NV
// Domaine Chandon - Brut Classic - California
// $43.00
// BAR
// NV
// Domaine Chandon - Rose - California (187ml)
// $11.00
// R3
// 2003
// Dom Pérignon - Brut - Epernay, France
// $249.00
// BAR
// NV
// Moet & Chandon - Imperial (White Star) - Epernay, France (187ml)
// $18.00
// BAR
// NV
// Segura Viudas - Brut (187ml) - Spain
// $8.00
// R3/B2
// NV
// South Coast Winery - Sparkling Syrah - Ruby Cuvée - Temecula
// $42.00
// R3/B1
// NV
// Stellina di Notte - Prosecco - Italy
// $26.00
// R4
// NV
// Toad Hollow - Risqué - Languedoc, France
// $27.00
// R3
// NV
// Veuve Clicquot - Yellow Label Brut - Reims, France
// $99.00
// Baily’s is very proud of our wine list selections and encourage you to seek out a wine that will match your tastes. However, if you care to bring in your own bottle of wine that does not appear on our list there will be a $15.00 corkage fee per 750ml bottle.