extends ../../includes/layoutNightclub
block nightclubContent
    //- ol.breadcrumb
    //-     li
    //-         a(href="/") Home
    //-     li
    //-         a(href="/nightclub") Nightclub Info
    //-     li.active  Club Menu
    p Here is the nightclub menu information! -- NO RELATABLE PAGE FOUND

