extends ../../includes/layoutNightclub
block nightclubContent
    ol.breadcrumb
        li
            a(href="/") Home
        li.active  Nightclub Info
    .visible-xs.hidden-sm
        .btn-toolbar(style="margin-bottom: 15px")
            a.btn.btn-info(href="/nightclub/menu" ) Club Menu
            a.btn.btn-info(href="/nightclub/bottleservice" ) VIP Bottle Serivce
            // a.btn.btn-info(href="/nightclub/partypackage" ) Party Packages
            
    .col-sm-6
        h3 Upcoming Events:
        a(href="/assets/clubFlyers/4x6_April_Band_Schedule.jpg")
            img.imgBlurHover.radiusBorder5px.img-responsive(src="/assets/clubFlyers/4x6_April_Band_Schedule.jpg")
    .col-sm-6
        h3 TOP 40!:
        a(href="/assets/clubFlyers/4x6_April_TOP40_DJ.jpg")
            img.imgBlurHover.radiusBorder5px.img-responsive(src="/assets/clubFlyers/4x6_April_TOP40_DJ.jpg")
    .col-sm-12
        h3 Come Play in Old Town
        p The Hottest Nightclub in the I.E. open every Friday and Saturday.
        ul
            li 21 years and older 
            li Top DJs playing the best music!
            li Upscale, Sophisticated, Fun, Trendy, & Full of Energy
            li Huge Outdoor Patio & Courtyard Areas
            li Dress To Impress
            li Private VIP Booths & Bottle Service
            li Free before 10pm $10 cover charge after on weekends
        p Info & Reservations 951-676-9567
        h3 Two storys, two DJs &  dance floors, three full bars.
        h3 Friday Night
        p 10pm - Close: The band ends at 9:30pm and the Residents DJs  Ruffnek, B-Rythm or Vince West start the dance party at 10pm. Come see what your friends 
            | and neighbors ane talking about, and enjoy the hottest club in the Inland Empire/North San Diego County at Eleven After Dark! The rotating hot 
            | local DJs mix the very best music from old to new with a touch of your favorite classics! 
        p ***After Hours Latin Lounge Upstairs 11pm until close every Friday Night**
        h3 Saturday Night
        p 10pm - Close: Residents DJs Ruffnek, B-Rythm Ayeena & Vince West play the hottest music weekly!  Come see why people are talking about 
            | Saturday Nights at Eleven After Dark! Spinning the best of Mashup, Classic Rocks, Old School, and Top 40 music!
            | ***After Hours Latin Lounge Upstairs 11pm until close every Saturday Night***
        h3 Two storys, two DJs &  dance floors, three full bars...
        P Follow us "@11AfterDark" on Twitter & "Baily's Nightclub" Facebook page for events, contests, specials, and more...
        h4 The Details
        ul
            li Must be 21 years or older to enter the club 
            li Valid ID Required: State Issued Drivers License | State Issued Identification Card | Military Identification | Printed Passport (expired identification with renewal paperwork is not acceptable)
        h4 Dress Code
        ul
            li Gentlemen: Must wear Collared Shirt & Closed Toe Shoes - No Baseball Caps, Shorts, Flip Flops
            li Ladies: Dress to Impress
        
    
    
    
    




   
