extends ../../includes/layoutNightclub
block nightclubContent
    p Here is the nightclub party package information! -- MORE IN COMMENTS
    
//     Parties
// Includes:

// Cover charge
// Hors d' Oeuvres
// Dedicated Space
// Beverage Package
// Cocktail Server 
// Menu

// Vegetable crudite, fruit and cheese
// Irish Nacho Buffet 
// Beverage Package – $10 beverage credit or 2 selections per person from below 

// Selection of Aluminum Bottled Beers
// Glass of House Red or White Wines
// 1.25 oz of Well Vodka, Gin, or Tequila + Assorted Mixers
// $25 per person
// 12 Person Minimum

