extends ../../includes/layoutNightclub
block nightclubContent
    //- ol.breadcrumb
    //-     li
    //-         a(href="/") Home
    //-     li
    //-         a(href="/nightclub") Nightclub Info
    //-     li.active  Party Packages
    h3 Parties
    h4 Includes:

    ul
        li Cover charge
        li Hors d' Oeuvres
        li Dedicated Space
        li Beverage Package
        li Cocktail Server 

    h3 Menu
    ul
        li Vegetable crudite, fruit and cheese
        li Irish Nacho Buffet 

    h4 Beverage Package – $10 beverage credit or 2 selections per person from below
    ul
        li Selection of Aluminum Bottled Beers
        li Glass of House Red or White Wines
        li 1.25 oz of Well Vodka, Gin, or Tequila + Assorted Mixers

    p $25 per person 
        br
        |12 Person Minimum

