.row
    .container-fluid
        #carousel-example-generic.carousel.slide(data-ride='carousel')
            // Indicators
            ol.carousel-indicators
                li.active(data-target='#carousel-example-generic', data-slide-to='0')
                li(data-target='#carousel-example-generic', data-slide-to='1')
                li(data-target='#carousel-example-generic', data-slide-to='2')
            // Wrapper for slides
            .carousel-inner(role='listbox')
                .item.active
                    img(src="/assets/umbrellas.png" width="100%" height="100%")
                    .carousel-caption
                        p.text-center This is some caption text
                .item
                    img(src="/assets/umbrellas.png" width="100%" height="100%")
                    .carousel-caption
                        p.text-center This is some caption text
                .item
                    img(src="/assets/umbrellas.png" width="100%" height="100%")
                    .carousel-caption
                        p.text-center This is some caption text
            // Controls
            a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                span.sr-only Previous
            a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                span.sr-only Next
