.text-sm-right
    h3 Upcoming DJs
    ul.list-group
        li.list-group-item
            p
                strong Entertainer 1 <br>
                small Date and Time
        li.list-group-item
            p
                strong Entertainer 2 <br>
                small Date and Time
        li.list-group-item
            p
                strong Entertainer 3 <br>
                small Date and Time



