.contentModule
    .text-sm-right
        .sideBarHeader
            h3 Our DJ's
        if (utils.objKeysLength(viewBag.schedule) > 0)
            each val in viewBag.schedule.Schedule.ScheduleItems
                h4= val.BandName
                p #{utils.shortenDate(val.Date)}, #{utils.removeLeadingZeroFromTime(val.Time)}
                    | <br/>
                    | #{val.RoomName}
                hr.contentModuleList
        else
            p(style="margin-top: 20px") So...somebody is behind in inputing the schedule...trust us we've got a DJ scheduled!

