.contentModule
    .text-sm-right
        h3 Who's Spinnin'
        each val in viewBag.schedule.Schedule.ScheduleItems
            h4= val.BandName
            p #{val.Date} @ #{val.Time}
                | <br/>
                | #{val.RoomName}
            hr

