.contentModule
    .text-sm-right
        .sideBarHeader
            h3 Live Music
        each val in viewBag.schedule.Schedule.ScheduleItems
            h4= val.BandName
            p #{utils.shortenDate(val.Date)}, #{utils.removeLeadingZeroFromTime(val.Time)}
                | <br/>
                | #{val.RoomName}
            hr.contentModuleList




