.text-sm-right
   h4 Upcoming Events
   ul.list-unstyled
      li
         p
            strong Entertainer 1 <br>
            small Date and Time
      li
         p
            strong Entertainer 2 <br>
            small Date and Time
      li
         p
            strong Entertainer 3 <br>
            small Date and Time
