.contentModule
    .text-sm-right
        .sideBarHeader
            h3 Upcoming Events
        if (utils.objKeysLength(viewBag.events) > 0)
            each val in viewBag.events.EventSchedule.Events
                h4= val.Title
                p= val.Description
                hr.contentModuleList
        else
            p(style="margin-top: 20px") There are no events to show but we are planning right now!
