.container-fluid
    .row
        hr
.container
    .row
        .col-md-12.text-center
            p 28699 Old Town Front Street <br> Temecula, CA 92590 <br> 951-676-9567 <br>
                | Site designed by Chris Baily <br>  &#169; Baily's 2015