
.container-fluid.footer
    .row
        .col-md-12.col-lg-8.col-lg-offset-2
            .col-sm-4
                h3 Join Now
                p All it takes is your email address to join our Restaurant Club.
                    | Keep up to date with our events and special offers for members.
                a.btn.btn-info(href="#signUpModal", data-toggle="modal") Join our club!
            .col-sm-4.text-sm-center
                h3 Social Media
                ul.list-unstyled
                    li
                        p
                            a(href="http://facebook.com/bailysoldtown")
                                img(src="/assets/facebook.png" width="25px")
                            | &nbsp; &nbsp;
                            a(href="http://twitter.com/bailysoldtown")
                                img(src="/assets/twitter.png" width="25px")
                            | &nbsp; &nbsp;
                            a(href="http://instagram.com/bailysoldtown")
                                img(src="/assets/instagram.png" width="25px")
                    
            .col-sm-4.text-sm-right
                h3 Contact Us
                address
                    strong Baily's <br>
                    | 28699 Old Town Front Street <br>
                    | Temecula, CA 92590 <br>
                    | 951-676-9567 <br>
    .row
        .container
            .col-lg-12.text-sm-center
                p
                    | Site designed by patternCoder <br>
                    | &#169; Baily's 2015

