//.container-fluid.footer
//    .row
//        hr
.container-fluid.footer
    .row
        .col-md-12.col-lg-8.col-lg-offset-2
            .col-sm-4
                h3 Join Now
                p Add a link or button
                    | <br> here for the mailing list.
            .col-sm-4.text-sm-center
                h3 Social Media
                ul.list-unstyled
                    li Facebook
                    li Twitter
                    li Instagram
            .col-sm-4.text-sm-right
                h3 Contact Us
                address
                    strong Baily's <br>
                    | 28699 Old Town Front Street <br>
                    | Temecula, CA 92590 <br>
                    | 951-676-9567 <br>
            .col-lg-12.text-center
                p
                    | Site designed by patternCoder <br>
                    | &#169; Baily's 2015

