doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        //<script src="//use.typekit.net/geg3olv.js"></script>
        //<script>try{Typekit.load();}catch(e){}</script>
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel='stylesheet', href='/css/site.css')
        link(href="https://cdn.otstatic.com/dcwidget/2018/dinerschoicebadges.css" rel="stylesheet" type="text/css")
    body
        .wrapper
            include ./nav
            block content
        include ./footer
        include ./joinnow
        include scripts
        block scripts
