doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        //<script src="//use.typekit.net/geg3olv.js"></script>
        //<script>try{Typekit.load();}catch(e){}</script>
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/colorbox/css/colorbox.css")
        link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")

        link(rel='stylesheet', href='/css/site.css?id=124587')
        link(href="https://cdn.otstatic.com/dcwidget/2018/dinerschoicebadges.css" rel="stylesheet" type="text/css")
    body
        .wrapper
            include ./nav
            block content
        include ./footer
        include ./joinnow
        include scripts
        block scripts

        script(src="https://baily.activehosted.com/f/embed.php?id=1" type="text/javascript" charset="utf-8")