#myNav.nav.navbar.navbar-inverse
    .container-fluid
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/')
                //img(src="/assets/logo_white_transp_background.png" height="30px")
                span#logo BAILY'S
        #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav
                li.dropdown
                    a.dropdown-toggle(href="#" data-toggle="dropdown") Dining
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href='/dining') Information
                        li
                            a(href='/dining/menu') Menu
                        li
                            a(href='/dining/beer') Beers & More
                li
                    a(href='/nightclub') Nightclub
                li
                    a(href='/music') Music
                li
                    a(href='/banquets') Banquets
                li.dropdown
                    a.dropdown-toggle(href='#' data-toggle="dropdown") About
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href="/about/history") History

