#myNav.nav.navbar.navbar-inverse
    .container-fluid
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/')
                //img(src="/assets/logo_white_transp_background.png" height="30px")
                span#logo BAILY'S
        #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav
                li.dropdown
                    a.dropdown-toggle(href="#" data-toggle="dropdown") Dining
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href='/dining') Information
                        li
                            a(href='/dining/menu') Menu
                        li
                            a(href='/dining/beer') Beers & More
                        li
                            a(href='/dining/wine') Wine List
                        li
                            a(href='/dining/cocktails') Cocktails
                        li
                            a(href='/dining/spirits') Spirits
                li.dropdown
                    a.dropdown-toggle(href="#" data-toggle="dropdown") Nightclub
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href='/nightclub') Nightclub
                        li
                            a(href='/nightclub/menu') Club Menu
                        li
                            a(href='/nightclub/bottleservice') VIP Bottle Service
                        li
                            a(href='/nightclub/partypackage') Party Packages
                li.dropdown
                    a.dropdown-toggle(href="#" data-toggle="dropdown") Music
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href='/music') Information
                        li
                            a(href='/music/schedule') Music Schedule
                        li
                            a(href='/music/booking') Booking Information
                li.dropdown
                    a.dropdown-toggle(href="#" data-toggle="dropdown") Banquets
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href='/banquets') Welcome
                        li
                            a(href='/banquets/booking') Booking Info
                        li
                            a(href='/banquets/venues') Venues
                        li
                            a(href='/banquets/menus') Menus
                        li
                            a(href='/banquets/beveragepackages') Beverage Packages
                li.dropdown
                    a.dropdown-toggle(href='#' data-toggle="dropdown") About
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href="/about") General Information
                        li
                            a(href="/about/history") History
                        li
                            a(href="/about/employment") Employment

