.contentModule
    .text-sm-right
        h3 About Baily's
        ul.list-unstyled
            li
                a(href="/about") General Information
            li
                a(href="/about/history") History
            li
                a(href="/about/employment") Employment


