.text-sm-right
    h4 Banquets
    ul.list-unstyled
        li
            a(href="/banquets") General Information
        li
            a(href="/banquets/venues") Venues
        li
            a(href="/banquets/menus") Menus
        li
            a(href="/banquets/beveragepackages") Beverage Packages
        

