h4 Banquet Links
ul.list-group
    li.list-group-item
        a(href="/banquets") General Information
    li.list-group-item
        a(href="/banquets/venues") Venus
    li.list-group-item
        a(href="/banquets/menus") Menus
    li.list-group-item
        a(href="/banquets/beveragepackages") Beverage Packages


