.contentModule
    .text-sm-right
        h3 Banquets
        ul.list-unstyled
            li
                a(href="/banquets") Welcome
            li
                a(href="/banquets/booking") Booking Information
            li
                a(href="/banquets/venues") Venues
            li
                a(href="/banquets/menus/breakfast") Menus
            li
                a(href="/banquets/beverageservice") Beverage Service
            li
                a(href="/banquets/partyaddons") Party Add-ons
            

