.contentModule
    .text-sm-right
        .sideBarHeader
            h3 The Restaurant
        ul.list-unstyled
            li
                a(href="/dining") Dining Home
            li
                a(href="/dining/menu") Menu
            li
                a(href="/dining/beer") Beers & More
            li
                a(href="/dining/wine") Wine List - Bottle
            li
                a(href="/dining/wineByGlass") Wine List - Glass
            li
                a(href="/dining/cocktails") Specialty Drinks
            //- li
            //-     a(href="/dining/spirits") Spirits
            li
                a(href="/dining/happyHour") Happy Hour
            li
                a(href="/dining/wineWednesday") Wine Wednesday
            li
                a(href="/dining/brunch") Brunch

        div.openTableDiners
            div.openTableContent
                a(href="http://www.opentable.com/restaurant/profile/995851/reserve?rid=995851&restref=995851" class="ot-dc-badge ot-dc-badge--p")