h4 Dining Links
ul.list-group
    li.list-group-item
        a(href="/dining") Dining Home
    li.list-group-item
        a(href="/dining/menu") Menu
    li.list-group-item
        a(href="/dining/beer") Beers & More
    li.list-group-item
        a(href="/dining/wine") Wine List
    li.list-group-item
        a(href="/dining/cocktails") Specialty Cocktails
    li.list-group-item
        a(href="/dining/spirits") Spirits

