.contentModule
    .text-sm-right
        h3 The Restaurant
        ul.list-unstyled
            li
                a(href="/dining") Dining Home
            li
                a(href="/dining/menu") Menu
            li
                a(href="/dining/beer") Beers & More
            li
                a(href="/dining/wine") Wine List
            li
                a(href="/dining/cocktails") Specialty Cocktails
            li
                a(href="/dining/spirits") Spirits


