.contentModule
    .text-sm-right
        h3 Live Music
        ul.list-unstyled
            li
                a(href="/music") Music Home
            li
                a(href="/music/schedule") Schedule
            li
                a(href="/music/booking") Bookings

