h4 Music at Baily's
ul.list-group
    li.list-group-item
        a(href="/music") Music Home
    li.list-group-item
        a(href="/music/schedule") Schedule
    li.list-group-item
        a(href="/music/booking") Bookings


