.contentModule
    .text-sm-right
        h3 Reserved Dates
        p The dates and rooms below are unavailable due to prior bookings. 
            | If your desired time and room are unavailable Please call our 
            | Events Director to discuss other options. Also, book your room as 
            | soon as possible to avoid disappointment.
        a.btn.btn-info(role="button" data-toggle="collapse" href="#collapseDates") Toggle Dates
        .collapse#collapseDates(style="margin-top: 20px")
            each val in viewBag.banquets.BanquetSchedule.Bookings
                p
                    | #{utils.shortenDate(val.Date)}, #{utils.removeLeadingZeroFromTime(val.Time)} <br>
                    | &nbsp; &nbsp; #{val.RoomName}
                hr.contentModuleList


