.contentModule
    .text-sm-right
        h3 Reserved Dates
        each val in viewBag.banquets.BanquetSchedule.Bookings
            p
                | #{utils.shortenDate(val.Date)}, #{utils.removeLeadingZeroFromTime(val.Time)} <br>
                | &nbsp; &nbsp; #{val.RoomName}
            hr.contentModuleList


