.text-sm-right
    h4 Upcoming DJs
    ul.list-group
        li.list-group-item
            p
                strong Event 1 <br>
                small Date and Time
        li.list-group-item
            p
                strong Event 2 <br>
                small Date and Time
        li.list-group-item
            p
                strong Event 3 <br>
                small Date and Time



