script(type="text/javascript", src="/vendor/jquery/3.4.1/jquery.min.js")
script(type="text/javascript", src="/vendor/bootstrap/3.3.1/dist/js/bootstrap.min.js")
script(type="text/javascript", src="/js/navHelper.js")
script(type="text/javascript", src="/js/app.js")
script(type="text/javascript", src="/js/ga.js")

