script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/js/navHelper.js")
script(type="text/javascript", src="/js/app.js")
script(type="text/javascript", src="/js/ga.js")

