script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/js/navHelper.js")
script(type="text/javascript", src="/js/app.js")
script(type='text/javascript').
        $(document).ready(function(){
            $.getJSON('http://oldtowndining.com/api/banquets.ashx?date=20150601', function(data){
            $('#dataHere').html(JSON.stringify(data));
            });
        });
