extends ../../includes/layoutAbout
block aboutContent
    h3 Over 20 years in the making!
    p Baily’s operates in Old Town Temecula.  The two story building features a multi-venue restaurant, 
        | a full service nightclub, an excellent banquet venue, and live music stages.  Below are highlights 
        |of our different offerings.
    h4 Dining
    p Lunch and dinner served daily starting at 11AM.  Last seatings are: Sun-Thur 9PM, Fri & Sat 10PM.  
        | Saturday and Sunday, in addition to our regular menu, a five item brunch menu is served.  
        | Call 951-676-9567 for reservations or download our new phone app!
    h4 Nightclub
    p Join us every Friday and Saturday late night for Old Town’s most happening spot.  
        | The transformation from restaurant to nightclub is a sight to behold and for those of you 
        | that join us for dinner prior to the club, your $10 cover charge is waived.  
        | Started in 2008, the nightclub has grown from its Top 40/Party Rock format on the first 
        | floor to include the second floor where Latin music plays throughout the night.  
        | Table Service is available with reservations.  
        | Call 951-676-9567 for reservations or download our new phone app!
    h4 Banquets
    p Baily's was built from the ground up to host parties!  Different rooms of various sizes are 
        | perfect for your special occasion.  Build a custom menu for your event, work with our 
        | staff for that perfect celebration dessert, add audio/visual equipment, whatever you 
        | need for your event we are here to make your party one to remember.
    h4 Live Music
    p Baily's has hosted live music every Friday and Saturday for over ten years.  
        | Primarily classic rock cover tunes provide the fun music everyone knows but don't be 
        | surprised if you catch other styles of music here including blues, country, reggae, 
        | jazz, bluegrass and more.  In the cooler months, November through April, solo acts 
        | are on our indoor stage, and the remaining six months, May through October, 3-6 person 
        | bands play on the courtyard stage.  Click here if your band is interested
        | in playing our venue.

