extends ../../includes/layoutAbout
block aboutContent
    img.borderRadius5px.inParagraph.pull-left.img-responsive(src="/assets/cooks.jpg" width="200px")
    p Baily's is always seeking hard working and enthusiastic individuals that pride 
       | themselves on their attention to detail.  Positions available include food servers,
       | bartenders, cocktail servers, barbacks,  bussers, hosts, cooks, dishwashers, security 
       | staff and more.  When you become a member of the team we offer flexible work schedules 
       | and employee discounts at the restaurant.   
    p Additionally, Baily's strives to provide knowledgeable and friendly 
       | service.  We train our staff on hospitality, food, and beverages.  
       | We like to think of it as a a restaurant school.  If you like to learn 
       | we want to teach you.
    p If you already know how much fun it is to work in the
       | restaurant industry or would like to find out please apply.  Just
       | fill out this
       a(href="/assets/190112_EmploymentApplication.pdf") &nbsp; PDF Application &nbsp;
       | and return it to the restaurant during normal business hours.

