extends ../../includes/layout

block content
    include ../../includes/nav
    .container-fluid
        .row
            .col-lg-8.col-lg-offset-2
                .page-header
                    //ol.breadcrumb
                        li
                            a(href="/") Home
                        li About
                        li.active History
                    h1= title
                        br
                        small The never-ending party!
        .row
            .col-lg-8.col-lg-offset-2
                h4 History of Baily Winery
                p Phil and Carol Baily, and their two sons, Christopher and Patrick have been Temecula 
                    | residents since 1981, when they moved here from San Marino in the Los Angeles area. 
                    | Phil, a principal in a Los Angeles-based compensation and benefits consulting company, 
                    | left that firm in order to start his own practice specializing in the development of computer
                    | systems for employee benefit plans.
                img.inParagraph.pull-right.img-responsive(src="/assets/bailywinery.png")
                p                    
                    | In 1982, they began growing wine grapes, and in 1986 started Baily Vineyard & Winery. 
                    | Winery growth was approached conservatively, and in the five years beginning in 1986, the 
                    | consulting business was slowly reduced as the winery income increased, so that by 1991 the 
                    | winery was providing a modest living for the family.            
                p In order to be profitable while staying small, the decision was made to emphasize retail sales
                    | out of the winery, and eliminate the much lower margin sales through distributors and brokers. 
                    | Because of the Temecula Valley Wine Country's growing reputation for fine wines and its proximity 
                    | to the major population centers of Los Angeles, Orange, and San Diego counties, the increasing 
                    | number of visitors to the Valley has proven this to be a sound business decision.
                p Almost from the beginning, the winery had put on its popular "Dinner in the Wine Cellar" series, 
                    | featuring six course candlelight dinners amongst the wine tanks and barrels with each course 
                    | matched to a different Baily wine. Carol Baily prepared the dinners with Phil acting as the host. 
                    | The dinners were always sold out and most attendees came from considerable distances, primarily 
                    | Orange and San Diego counties. These dinners were the genesis of the Baily's getting further into 
                    | the food service business.
                p Baily Vineyard & Winery continues to thrive to this day. In 1999, the winery expanded its tasting 
                    | room operation to its current location on Rancho California Road. It is a beautiful state of 
                    | the art visitor center with a rich and luxurious tasting room, gift shop and a wonderful restaurant 
                    | named Carol's.
        .row
            include ../../includes/footer