extends ../../includes/layoutAbout
block aboutContent
    h4 Baily Winery
    p Phil and Carol Baily, and their two sons, Christopher and Patrick have been Temecula
        | residents since 1981, when they moved here from San Marino in the Los Angeles area.
        | Phil, a principal in a Los Angeles-based compensation and benefits consulting company,
        | left that firm in order to start his own practice specializing in the development of computer
        | systems for employee benefit plans.
    img.radiusBorder5px.inParagraph.pull-right.img-responsive(src="/assets/bailywinery.png")
    p
        | In 1982, they began growing wine grapes, and in 1986 started Baily Vineyard & Winery.
        | Winery growth was approached conservatively, and in the five years beginning in 1986, the
        | consulting business was slowly reduced as the winery income increased, so that by 1991 the
        | winery was providing a modest living for the family.
    p In order to be profitable while staying small, the decision was made to emphasize retail sales
        | out of the winery, and eliminate the much lower margin sales through distributors and brokers.
        | Because of the Temecula Valley Wine Country's growing reputation for fine wines and its proximity
        | to the major population centers of Los Angeles, Orange, and San Diego counties, the increasing
        | number of visitors to the Valley has proven this to be a sound business decision.
    p Almost from the beginning, the winery had put on its popular "Dinner in the Wine Cellar" series,
        | featuring six course candlelight dinners amongst the wine tanks and barrels with each course
        | matched to a different Baily wine. Carol Baily prepared the dinners with Phil acting as the host.
        | The dinners were always sold out and most attendees came from considerable distances, primarily
        | Orange and San Diego counties. These dinners were the genesis of the Baily's getting further into
        | the food service business.
    p Baily Vineyard & Winery continues to thrive to this day. In 1999, the winery expanded its tasting
        | room operation to its current location on Rancho California Road. It is a beautiful state of
        | the art visitor center with a rich and luxurious tasting room, gift shop and a wonderful restaurant
        | named Carol's.
    h4 Baily Wine Country Cafe
    img.radiusBorder5px.inParagraph.pull-left.img-responsive(src="/assets/bwccdiningroom.jpg" width="300")
    p Around 1991, Chris his former boss, Robert Staples, were working together at the winery tasting room.
        | One day the subject of Vinnie Cilurzo and his business plan to start a brewery came up in
        | conversation. Chris always had a little competitive spirit with Vinnie whose parents also
        | owned a winery and was a much better basketball player. Chris thought, surely, if Vinnie who
        | was younger, could put together a business plan for a brewery Chris could put together a business
        | plan for a restaurant. After all Chris and Vinnie were 20 years old now and not getting any younger!
        | Chris and Robert put together a business plan for a fine dining restaurant that would be located
        | in a shopping center on Rancho California Road.  After a lot of research and soul searching the
        | two got cold feet the plan was mothballed.
    p Several months later Phil was passing through the Temecula Town Center and saw the vacancy created
        | by the failed Delmario's Italian Restaurant. Seeing that vacancy sparked an idea to start a restaurant,
        | similar to Chris' idea and out came the mothballed business plan.  By September of 1992, the 100% credit
        | card financed Baily Wine Country Cafe opened.  Phil, Carol, Chris and Patrick operated the restaurant
        | together and learned a lot real fast. Phil handled most of the financial and bookkeeping tasks, Carol
        | handled the decorating and worked with the chef on menu design, Chris handled training of the service
        | staff and managing the dining room, and Patrick worked in the kitchen.
    p In 1999 Chris and his wife Kim took over full ownership of the restaurant when Phil and Carol
        | embarked on the visitor center expansion on Rancho California Road. At that time the name of the
        | restaurant was shortened to just Baily's.
    p The vision of Baily's has not changed since its beginning which is to serve a high quality,
        | moderately priced gourmet menu in a casually elegant setting to locals and wine country visitors.
    h4 Old Town
    p In 1999 Temecula experienced an influx of new restaurants with the opening of the regional mall,
        | the growth of Pechanga Resort and Casino, and the expansion of the Temecula Parkway area. As a result
        | many of the older established restaurants near the aging core of town suffered lower volumes of diners.
        | Baily's strategy at this time was to close for lunch, enhance the dinner offerings with weekly menu
        | changes and build the offsite catering services that started in 1998.
    p Chris and Kim began talking about relocation to stay competitive in the changing landscape.
        | Two themes emerged that would shape a future move: become property owners instead of renters and
        | find a freestanding location rather than a multi-tenant setting.
    p Several location were looked at, but it was the City of Temecula's vision for Old Town that appeared
        | to have the best possibilities.  Old Town Temecula had just completed the streetscape improvements that
        | unified the look throughout the district.  But the city’s goal was just beginning and it took a lot of
        | imagination to hear the clanking of glasses and bands playing in still sleepy train stop town that had
        | been forgotten for over half a century.  After a lot of thought and debate, the decision was made to
        | pursue Old Town as the permanent home for the restaurant operation.  In July of 2002 a letter was sent
        | to the City offering to purchase the property on the corner of Old Town Front Street and Second Street.
        | Concurrent to structuring deal points with the city, work began with architect Walt Allen to design a
        | two story restaurant.  Plans were drawn, permits acquired and construction started in April of 2004.
    p To finance the large scale project, Chris and Kim sought investors from the customer base of the still
        | operating Baily’s.  These 25 investors shared the vision to help build Old Town Temecula into a vibrant
        | dining and entertainment destination.  Together the LLC planted a flag in Old Town and ushered in a new
        | era in the now exciting and energetic destination.
